ImageFlow.json
[{"id":"92efb7b1.97c4f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5acdd9db.a30768","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4ea3338e.cbf074","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4aa34155.e99108","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"ac8e1f39.dda128","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"283d55dd.fef61a","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"a0946e06.b64308","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"89ee0e47.a9b998","type":"websocket in","z":"92efb7b1.97c4f","name":"","server":"a0946e06.b64308","x":310,"y":60,"wires":[["ee706a83.f5814"]]},{"id":"ee706a83.f5814","type":"function","z":"92efb7b1.97c4f","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":484,"y":60,"wires":[["3ec13e33.124dba"]]},{"id":"3ec13e33.124dba","type":"websocket out","z":"92efb7b1.97c4f","name":"","server":"a0946e06.b64308","x":665,"y":60,"wires":[]},{"id":"8ad7f91b.ea5ad8","type":"http in","z":"92efb7b1.97c4f","name":"","url":"/chat","method":"get","x":318,"y":128,"wires":[["27547f12.d6c758"]]},{"id":"27547f12.d6c758","type":"template","z":"92efb7b1.97c4f","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":484,"y":128,"wires":[["2a5501c5.e97ca6"]]},{"id":"2a5501c5.e97ca6","type":"http response","z":"92efb7b1.97c4f","name":"","x":627,"y":128,"wires":[]},{"id":"7965217e.4f114","type":"watson-tone-analyzer-v3","z":"92efb7b1.97c4f","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","x":490,"y":220,"wires":[["399157ab.db18f"]]},{"id":"6e8a4afc.b0e864","type":"inject","z":"92efb7b1.97c4f","name":"","topic":"","payload":"Absolute garbage. Had the television less than a month and it's stuck in an endless cycle of freezing and rebooting.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":220,"wires":[["7965217e.4f114"]]},{"id":"399157ab.db18f","type":"debug","z":"92efb7b1.97c4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","x":700,"y":220,"wires":[]},{"id":"3fadd310.928ffc","type":"watson-personality-insights-v3","z":"92efb7b1.97c4f","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":true,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/personality-insights/api","x":530,"y":300,"wires":[["3695709.bddf51"]]},{"id":"ba19b8fc.b809d8","type":"inject","z":"92efb7b1.97c4f","name":"","topic":"","payload":"Thank you, Gary. You did a great job. Well, thank you. That was a very generous introduction, and I thought Gary was going to give my presentation. I thought he was doing a great job, actually. He did a great job except for one thing. Did I hear him properly say that I was with IBM 40 years? Did I hear that? That — look at me. Does that sound true? I hope not. Not true. If you’re thinking yes, no.  And so, look, it is great to see so many people here and so many IBM clients. And I don’t think Gary mentioned this: I am the first IBM CEO to ever speak at a keynote here at CES. And so, you might be asking — Well, if you clap at that, you will clap at anything. Okay?  So, I am the first, and you might be asking why and why now. Now, I have walked around, looked around, clearly, IoT is a major theme here. It impacts every industry, every company. And I am here, IBM is here, because I want to assert something to you that the future of the Internet of Things is cognitive, the cognitive IoT. And I am going to be joined by CEOs from three major companies, all different industries, and we’re going to make some major announcements here today that embody this exact future I’m going to talk about.  So, let me frame what you’re going to then see come to life through their eyes. So, I want to talk about cognitive; what is a cognitive IoT? And then really quickly, what I think are three critical success factors because it’s what so many of you are doing. But first, I want to start with a question.  Now, there’s no doubt that the Internet of Things is all part of the phenomena of digitization of products, of services, of companies. So, if I ask you to raise your hands and ask how many of you either work for a digital company or you are trying to become a digital company, just raise your hand. Okay. Same response about anywhere in the world is almost everyone’s hand goes up. So, it doesn’t matter if you’re B to B, B to C, public/private, it doesn’t matter. And this has got a lot to do, as we reinvent ourselves, what we’ve done to build a good number of capabilities to help you become a digital company.  It started with building the leading and the largest set of big data and analytics capability in the world, building a cloud platform for the enterprise that goes between public, private and hybrid; and then, our work to help you re-imagine how work is done itself and that’s been through the partnership with Apple, and then having built the world’s largest enterprise security company. I think many people don’t realize that even by the end of 2014, those businesses for IBM were over $25 billion; and through the third quarter of this year, they’ve grown 30%.  So, this idea that analytics, cloud, mobility, security, they are all important. But I want to ask you a question. When everybody becomes digital, then what? Who wins? I like to say digital is not a destination; it’s a foundation. I mean, I just looked around this whole conference — wearables, sensors, cars, data everywhere. But what will differentiate you is understanding that data, and that brings me to my first point that Gary also introduced.  I believe the most disruptive, transformative trend is now in front of us, and it’s cognitive. This ability to think, to learn, to understand the systems, the products, the processes, everything you do, and it is the dawn of a new era, the cognitive era. Maybe you could simply say digital business plus digital intelligence. And cognitive is an era of business, and it is an era of technology. So, there’s two drivers for the technology era.  One, data that was invisible will now be visible to you. Now, you know, we’ve talked about the phenomena of big data forever, but 80% of the data out there, while it may be stored in some systems, it’s black. It’s invisible, it’s not understood. Sight, sound, music — you don’t actually know inside of it what it is, and that’s what’s changing in this new era.  The second thing is the advent of cognitive computing. Now, some people want to shorthand that to artificial intelligence; that’s part of it, but you have to be able to work in natural language and in a domain: understand medicine, metallurgy. And then more than anything, this is an era of systems you do not program; they understand, they reason and they learn. In fact, they therefore have hypotheses and confidence levels — and this is what IBM Watson does.  Now, we worked on this, it started a decade ago, and we went ahead and debuted Watson to Jeopardy!, the game show, in 2011. It has come a long way since then. At that time, what Watson could do was question and answer, which he did beat everyone then. Question and answer, and he had five technologies underneath it.  Fast forward to today. There are now 32 different functions he does, 50 different technologies under it all available via an API so you can pull them into a business and a process. And we’re expanding Watson’s senses, giving it things like sight; and in fact, the first way he’s learning sight is on reading medical images. And then we made a strategic decision to open up Watson as a cloud platform, a whole set of APIs so you would build businesses, companies, processes, products, pulling cognitive into them. So, today Watson is in 36 countries, 80,000 programmers, 500 people building businesses. And it’s healthcare, retail, education, travel. And it is a profound new capability.  Just think of the ability to build thinking into anything that you do. So I believe it will change not only what you make, it will change how you operate; and in fact, it will actually change who you are.  So, let me then to my second point. That’s cognitive. What about the cognitive IoT? So, imagine, take cognition and infuse it into an IoT. And remember, remember this point. The challenge isn’t capturing and storing all the data I have seen out in all these hallways. 80% of that data is dark. 9 billion connected devices, 2.5 katrillion bytes of data a day. The challenge is understanding it.  So, let me give you a couple examples of clients and what they’ve accomplished so far, from the tiny to the large. So, start with a little startup called CogniToys. They make a dinosaur to talk to your child, and it adapts the personality to work with your child: what jokes, what books, how they learn. It adapts to your child’s personality. That’s a learning system.  On the other end of the spectrum, Airbus makes aircraft. You won’t be surprised that there are 6 million sensors in an airplane and that they’re from 3,000 suppliers. Well, cognitive IoT, we’re about to start processing a half a billion bytes from every flight taken so that we can predict wear and tear over time, predict the time to failure, maintenance far in advance. And then, actually over time improve the way parts are made. They’re also now working on the cognitive cockpit, natural language, a pilot to interface particularly in times of crisis.  Then I jump to a different consumer application with a partner called Finnair. I’m originally from Detroit. Detroit Pistons, Auburn Hills, the big, the Palace where they play, that’s basketball, 100 beacons, Watson is real time analyzing the sentiment of the fans, matching that with what’s happening on the floor in the game, real time offers actually related to what just happened to any player going to every individual, custom. Another way, you could imagine you would engage and do this with any kind of place where consumers aggregate together.  Or, Whirlpool. In fact, if you went to the briefing center here, you’d see it. Real-time — real-time devices, obviously, what Whirlpool makes, data connected, the connected appliance, plus Watson IoT cloud and you have a cognitive oven stove, whatever it is. So, if you go down there, you’ll see a Jenn-Air connected to Chef Watson, and you’ll see how they work together, learning the preferences, the needs of a family and making recommendations. That’s the world I see in front of us.  Now, what do you need to do that? I will end with three critical success factors. You need the right platform. You’re going to need new forms of data — not just more — and analytics and an ecosystem. When I say “the right platform,” Internet of Things, you all know this. It’s about real-time data. But what most people can’t do is as a result of the insights take immediate action. You need a platform to do that. We’ve built out a cloud platform in 41 countries, a platform called Bluemix for those of you that build the applications. The largest cloud foundry deployment in the world, 120 services. Then the services and software for a hybrid world to connect to your existing businesses, and then Watson APIs that allow you to put cognition in everything you do.  Second thing, you’re going to need new forms of data, new forms. I just said there’s so much. But what I mean by new is we’re committed to help you, and part of that is by building out a huge capability on data and analytics. We are approaching $30 billion of investment in having built analytics capabilities, including 30 acquisitions, 15,000 experts, hundreds of mathematicians. But we also need to bring you data that you don’t possess but you need.  How do you make sense out of some pretty big amounts of social data? It needs to be curated, Twitter, Facebook. Or, the weather. Everybody in here working on Internet of Things, the weather is the most pervasive impacting source of data there is. And you may or may not be aware, it’s why the IBM Company acquired The Weather Company. Now, those of you, everybody’s got a weather app, and probably theirs is on your phone. When you hit it, you might just think it’s going to one of the government weather agencies. Well, not true. It’s a very sophisticated real-time platform. 3 billion weather reference points a day are collected, sophisticated in analytics, and anywhere from 26 billion to 30 billion transactions a day go against that. Now, we’re going to combine weather with all your operational data.  And then next up, since that platform can go way beyond weather, telematics, sensors, and you can start to see what you could do for insurance risk, for retail demand, for auto safety. In many ways, The Weather Company, it’s an IoT company, and weather just happened to be one of the first use cases it had.  There’s a second then kind of data that I think you’re going to need, and some of you have started, but not everyone. It’s the huge flood of video that will matter in this world of Internet of Things and cognitive. Now, streaming is growing exponentially. If you look at all the data out in the world a different way, 80% of it is going to end up being video. If you’re in entertainment, media, you understand that. But it will now transform every industry, it won’t matter. Right?  How many of us, you don’t have to turn on the news to think about a police car with a cam or a policeman with a lapel camera. Those of you in retail, I think you know that, if someone sees a video, they’re two times more likely to buy. So, we’ve added video services to all of our Internet of Things cloud, over the top video services. You’re probably surprised, but we do that already today for Wimbledon, for the Masters, for NFL, for HBO, for Sony Movie Channel, for Time Warner, for Verizon. Anyone then can serve up the right video at the right moment, and we are just starting on being able to prepare for you a lot of this dark data that you need but you don’t have to own.     So, two critical success factors: the first, the platform; the second, new forms of data and analytics. And then the third is an ecosystem. And that brings me to the most exciting part of, I hope, this afternoon together.  Now, we’re very committed to build these out by industry and by domain, and we’re well underway. Watson Health, we announced back in April with many partners: Johnson & Johnson, Medtronic, CVS, Epic, Boston Children’s Hospital, Memorial Sloan-Kettering, the cancer center, Apple Research Kit. We’ve done a number of acquisitions. But last month we also announced our Watson IoT business.  Now, we’ve been working in IoT for quite a long time already, 4,000 clients, seven of the 10 largest auto companies, eight of 10 largest oil and gas, and 11 of 12 aerospace and defense. But now this is about bringing cognition into IoT. Back to where I started, I really believe this will insert any IoT that’s going to differentiate you in the future will have to be cognitive. And we opened up this unit, we headquartered it in Germany, headquartered in Munich, a thousand people are there but there are eight centers around the world. We have the Watson IoT set of analytics, Watson IoT cloud platform, and then a whole, whole ecosystem of partners. And that’s what I want to now show you, is the partners we’ve brought today; and in fact, the announcements we’ll be making, because the Watson Internet of Things is not a future, it is here today. And I have got three great announcements here and the leaders of their companies to join me to show you some of this.  So, let me now, with great pleasure, give you a little introduction to my first guest. Many of you know him. Kevin Plank. He is the founder, CEO of Under Armour. He is certainly one of this nation’s, if not the world’s, most successful entrepreneurs. As you know, Under Armour already at $4 billion, 14,000 employees. And Kevin, he will tell you, he’ll tell you himself, his mission is simple: to make all athletes better, through passion, design; and of course, relentless pursuit of innovation. I have gotten to know Kevin. You will find he is just getting started. And we are announcing here today our partnership, and you’re going to see the beginning of the app that’s rolling out now to transform personal health and fitness. Kevin coined the word “connected fitness.” UA Record is their dashboard. It will be powered by Watson. Think of this as the Internet of athletes.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["3fadd310.928ffc"]]},{"id":"3695709.bddf51","type":"debug","z":"92efb7b1.97c4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"insights","x":730,"y":300,"wires":[]},{"id":"cbb7535d.52348","type":"inject","z":"92efb7b1.97c4f","name":"","topic":"","payload":"https://watson-developer-cloud.github.io/doc-tutorial-downloads/visual-recognition/640px-IBM_VGA_90X8941_on_PS55.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":330,"y":380,"wires":[["4b5571b8.3fe3d8"]]},{"id":"4b5571b8.3fe3d8","type":"visual-recognition-v3","z":"92efb7b1.97c4f","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":510,"y":380,"wires":[["6ad83ac5.92fbd4"]]},{"id":"6ad83ac5.92fbd4","type":"debug","z":"92efb7b1.97c4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":690,"y":380,"wires":[]},{"id":"d7bd3f5d.6e6e","type":"visual-recognition-v3","z":"92efb7b1.97c4f","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":730,"y":680,"wires":[["57807dc8.472014","c6090ab8.317718"]]},{"id":"cab7fe02.932bb8","type":"http in","z":"92efb7b1.97c4f","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":337.5,"y":508.5,"wires":[["dec3a198.5cf3e8"]]},{"id":"a466fbca.8bd258","type":"http response","z":"92efb7b1.97c4f","name":"HTTP Response","statusCode":"","headers":{},"x":1005.5,"y":573.5,"wires":[]},{"id":"dec3a198.5cf3e8","type":"switch","z":"92efb7b1.97c4f","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":461.5,"y":570.5,"wires":[["92f730a8.171568"],["591df96c.d504e8"]]},{"id":"92f730a8.171568","type":"template","z":"92efb7b1.97c4f","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://3.bp.blogspot.com/_W90V87w3sr8/TP3ROy7LZzI/AAAAAAAAAXg/iQVVRg4aHkg/s1600/companions_adelie_penguins.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/7.jpg\" height='100'/>\n    <br/>Drag and drop any of the images above into the text field or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":755.5,"y":539.5,"wires":[["a466fbca.8bd258"]]},{"id":"c6090ab8.317718","type":"template","z":"92efb7b1.97c4f","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":850.5,"y":607.5,"wires":[["a466fbca.8bd258"]]},{"id":"591df96c.d504e8","type":"change","z":"92efb7b1.97c4f","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"},{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"food","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":547.5,"y":628.5,"wires":[["d7bd3f5d.6e6e"]]},{"id":"7a0986cc.4a66","type":"comment","z":"92efb7b1.97c4f","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":735.5,"y":724.5,"wires":[]},{"id":"57807dc8.472014","type":"function","z":"92efb7b1.97c4f","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":917.5,"y":683.5,"wires":[["44dfa6f8.54fd9"]]},{"id":"44dfa6f8.54fd9","type":"debug","z":"92efb7b1.97c4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1077.5,"y":657.5,"wires":[]},{"id":"1c1bfd16.9fed2b","type":"http in","z":"5acdd9db.a30768","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":362.00000381469727,"y":280.00000953674316,"wires":[["5344ec90.361bfc"]]},{"id":"5344ec90.361bfc","type":"switch","z":"5acdd9db.a30768","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":486.00000381469727,"y":342.00000953674316,"wires":[["ca70a214.356b2"],["c284b168.46507"]]},{"id":"ca70a214.356b2","type":"template","z":"5acdd9db.a30768","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://3.bp.blogspot.com/_W90V87w3sr8/TP3ROy7LZzI/AAAAAAAAAXg/iQVVRg4aHkg/s1600/companions_adelie_penguins.jpg\" height='100'/>\n    <img src=\"https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/googlecropped2-20150901045054622.png\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\" height='100'/>\n    <img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/7.jpg\" height='100'/>\n    <br/>Drag and drop any of the images above into the text field or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":762.0000038146973,"y":320.00000953674316,"wires":[["ed39e12c.2284f8"]]},{"id":"c284b168.46507","type":"change","z":"5acdd9db.a30768","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"},{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"food","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":572.0000038146973,"y":400.00000953674316,"wires":[["a0ef7acb.8a32c8"]]},{"id":"ed39e12c.2284f8","type":"http response","z":"5acdd9db.a30768","name":"HTTP Response","statusCode":"","headers":{},"x":1030.0000038146973,"y":345.00000953674316,"wires":[]},{"id":"a0ef7acb.8a32c8","type":"visual-recognition-v3","z":"5acdd9db.a30768","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":754.5000038146973,"y":451.50000953674316,"wires":[["59910ef6.3dc948","2105977f.3b1bc8"]]},{"id":"2105977f.3b1bc8","type":"template","z":"5acdd9db.a30768","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":875.0000038146973,"y":379.00000953674316,"wires":[["ed39e12c.2284f8"]]},{"id":"59910ef6.3dc948","type":"function","z":"5acdd9db.a30768","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":942.0000038146973,"y":455.00000953674316,"wires":[["fbd4e5bd.07119"]]},{"id":"fbd4e5bd.07119","type":"debug","z":"5acdd9db.a30768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1102.0000038146973,"y":429.00000953674316,"wires":[]},{"id":"1c026faa.1ae4","type":"http in","z":"4aa34155.e99108","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":330,"y":260,"wires":[["fc79a238.86624"]]},{"id":"fc79a238.86624","type":"template","z":"4aa34155.e99108","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":510,"y":260,"wires":[["ac9bd48.529eca8"]]},{"id":"ac9bd48.529eca8","type":"http response","z":"4aa34155.e99108","name":"","x":670,"y":260,"wires":[]},{"id":"ac326748.59b58","type":"http response","z":"4aa34155.e99108","name":"","statusCode":"","headers":{},"x":1070,"y":380,"wires":[]},{"id":"84b7463f.5368c8","type":"debug","z":"4aa34155.e99108","name":"","active":true,"console":"false","complete":"req.files","x":590,"y":320,"wires":[]},{"id":"3e14ce23.80d3e2","type":"comment","z":"4aa34155.e99108","name":"Simple file upload example","info":"http://localhost:1880/upload","x":370,"y":220,"wires":[]},{"id":"577dea24.473e8c","type":"template","z":"4aa34155.e99108","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>File {{originalname}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":910,"y":380,"wires":[["ac326748.59b58"]]},{"id":"296fa21d.bd234e","type":"function","z":"4aa34155.e99108","name":"","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["577dea24.473e8c"]]},{"id":"e2d59c9b.56fd3","type":"template","z":"4aa34155.e99108","name":"dropzone.js","field":"dropzonejs","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n/*\n *\n * More info at [www.dropzonejs.com](http://www.dropzonejs.com)\n *\n * Copyright (c) 2012, Matias Meno\n *\n * Permission is hereby granted, free of charge, to any person obtaining a copy\n * of this software and associated documentation files (the \"Software\"), to deal\n * in the Software without restriction, including without limitation the rights\n * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell\n * copies of the Software, and to permit persons to whom the Software is\n * furnished to do so, subject to the following conditions:\n *\n * The above copyright notice and this permission notice shall be included in\n * all copies or substantial portions of the Software.\n *\n * THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR\n * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,\n * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE\n * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER\n * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,\n * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN\n * THE SOFTWARE.\n *\n */\n\n(function() {\n  var Dropzone, Emitter, camelize, contentLoaded, detectVerticalSquash, drawImageIOSFix, noop, without,\n    __slice = [].slice,\n    __hasProp = {}.hasOwnProperty,\n    __extends = function(child, parent) { for (var key in parent) { if (__hasProp.call(parent, key)) child[key] = parent[key]; } function ctor() { this.constructor = child; } ctor.prototype = parent.prototype; child.prototype = new ctor(); child.__super__ = parent.prototype; return child; };\n\n  noop = function() {};\n\n  Emitter = (function() {\n    function Emitter() {}\n\n    Emitter.prototype.addEventListener = Emitter.prototype.on;\n\n    Emitter.prototype.on = function(event, fn) {\n      this._callbacks = this._callbacks || {};\n      if (!this._callbacks[event]) {\n        this._callbacks[event] = [];\n      }\n      this._callbacks[event].push(fn);\n      return this;\n    };\n\n    Emitter.prototype.emit = function() {\n      var args, callback, callbacks, event, _i, _len;\n      event = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      this._callbacks = this._callbacks || {};\n      callbacks = this._callbacks[event];\n      if (callbacks) {\n        for (_i = 0, _len = callbacks.length; _i < _len; _i++) {\n          callback = callbacks[_i];\n          callback.apply(this, args);\n        }\n      }\n      return this;\n    };\n\n    Emitter.prototype.removeListener = Emitter.prototype.off;\n\n    Emitter.prototype.removeAllListeners = Emitter.prototype.off;\n\n    Emitter.prototype.removeEventListener = Emitter.prototype.off;\n\n    Emitter.prototype.off = function(event, fn) {\n      var callback, callbacks, i, _i, _len;\n      if (!this._callbacks || arguments.length === 0) {\n        this._callbacks = {};\n        return this;\n      }\n      callbacks = this._callbacks[event];\n      if (!callbacks) {\n        return this;\n      }\n      if (arguments.length === 1) {\n        delete this._callbacks[event];\n        return this;\n      }\n      for (i = _i = 0, _len = callbacks.length; _i < _len; i = ++_i) {\n        callback = callbacks[i];\n        if (callback === fn) {\n          callbacks.splice(i, 1);\n          break;\n        }\n      }\n      return this;\n    };\n\n    return Emitter;\n\n  })();\n\n  Dropzone = (function(_super) {\n    var extend, resolveOption;\n\n    __extends(Dropzone, _super);\n\n    Dropzone.prototype.Emitter = Emitter;\n\n\n    /*\n    This is a list of all available events you can register on a dropzone object.\n    \n    You can register an event handler like this:\n    \n        dropzone.on(\"dragEnter\", function() { });\n     */\n\n    Dropzone.prototype.events = [\"drop\", \"dragstart\", \"dragend\", \"dragenter\", \"dragover\", \"dragleave\", \"addedfile\", \"addedfiles\", \"removedfile\", \"thumbnail\", \"error\", \"errormultiple\", \"processing\", \"processingmultiple\", \"uploadprogress\", \"totaluploadprogress\", \"sending\", \"sendingmultiple\", \"success\", \"successmultiple\", \"canceled\", \"canceledmultiple\", \"complete\", \"completemultiple\", \"reset\", \"maxfilesexceeded\", \"maxfilesreached\", \"queuecomplete\"];\n\n    Dropzone.prototype.defaultOptions = {\n      url: null,\n      method: \"post\",\n      withCredentials: false,\n      parallelUploads: 2,\n      uploadMultiple: false,\n      maxFilesize: 256,\n      paramName: \"file\",\n      createImageThumbnails: true,\n      maxThumbnailFilesize: 10,\n      thumbnailWidth: 120,\n      thumbnailHeight: 120,\n      filesizeBase: 1000,\n      maxFiles: null,\n      params: {},\n      clickable: true,\n      ignoreHiddenFiles: true,\n      acceptedFiles: null,\n      acceptedMimeTypes: null,\n      autoProcessQueue: true,\n      autoQueue: true,\n      addRemoveLinks: false,\n      previewsContainer: null,\n      hiddenInputContainer: \"body\",\n      capture: null,\n      renameFilename: null,\n      dictDefaultMessage: \"Drop files here to upload\",\n      dictFallbackMessage: \"Your browser does not support drag'n'drop file uploads.\",\n      dictFallbackText: \"Please use the fallback form below to upload your files like in the olden days.\",\n      dictFileTooBig: \"File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.\",\n      dictInvalidFileType: \"You can't upload files of this type.\",\n      dictResponseError: \"Server responded with {{statusCode}} code.\",\n      dictCancelUpload: \"Cancel upload\",\n      dictCancelUploadConfirmation: \"Are you sure you want to cancel this upload?\",\n      dictRemoveFile: \"Remove file\",\n      dictRemoveFileConfirmation: null,\n      dictMaxFilesExceeded: \"You can not upload any more files.\",\n      accept: function(file, done) {\n        return done();\n      },\n      init: function() {\n        return noop;\n      },\n      forceFallback: false,\n      fallback: function() {\n        var child, messageElement, span, _i, _len, _ref;\n        this.element.className = \"\" + this.element.className + \" dz-browser-not-supported\";\n        _ref = this.element.getElementsByTagName(\"div\");\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          child = _ref[_i];\n          if (/(^| )dz-message($| )/.test(child.className)) {\n            messageElement = child;\n            child.className = \"dz-message\";\n            continue;\n          }\n        }\n        if (!messageElement) {\n          messageElement = Dropzone.createElement(\"<div class=\\\"dz-message\\\"><span></span></div>\");\n          this.element.appendChild(messageElement);\n        }\n        span = messageElement.getElementsByTagName(\"span\")[0];\n        if (span) {\n          if (span.textContent != null) {\n            span.textContent = this.options.dictFallbackMessage;\n          } else if (span.innerText != null) {\n            span.innerText = this.options.dictFallbackMessage;\n          }\n        }\n        return this.element.appendChild(this.getFallbackForm());\n      },\n      resize: function(file) {\n        var info, srcRatio, trgRatio;\n        info = {\n          srcX: 0,\n          srcY: 0,\n          srcWidth: file.width,\n          srcHeight: file.height\n        };\n        srcRatio = file.width / file.height;\n        info.optWidth = this.options.thumbnailWidth;\n        info.optHeight = this.options.thumbnailHeight;\n        if ((info.optWidth == null) && (info.optHeight == null)) {\n          info.optWidth = info.srcWidth;\n          info.optHeight = info.srcHeight;\n        } else if (info.optWidth == null) {\n          info.optWidth = srcRatio * info.optHeight;\n        } else if (info.optHeight == null) {\n          info.optHeight = (1 / srcRatio) * info.optWidth;\n        }\n        trgRatio = info.optWidth / info.optHeight;\n        if (file.height < info.optHeight || file.width < info.optWidth) {\n          info.trgHeight = info.srcHeight;\n          info.trgWidth = info.srcWidth;\n        } else {\n          if (srcRatio > trgRatio) {\n            info.srcHeight = file.height;\n            info.srcWidth = info.srcHeight * trgRatio;\n          } else {\n            info.srcWidth = file.width;\n            info.srcHeight = info.srcWidth / trgRatio;\n          }\n        }\n        info.srcX = (file.width - info.srcWidth) / 2;\n        info.srcY = (file.height - info.srcHeight) / 2;\n        return info;\n      },\n\n      /*\n      Those functions register themselves to the events on init and handle all\n      the user interface specific stuff. Overwriting them won't break the upload\n      but can break the way it's displayed.\n      You can overwrite them if you don't like the default behavior. If you just\n      want to add an additional event handler, register it on the dropzone object\n      and don't overwrite those options.\n       */\n      drop: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      dragstart: noop,\n      dragend: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      dragenter: function(e) {\n        return this.element.classList.add(\"dz-drag-hover\");\n      },\n      dragover: function(e) {\n        return this.element.classList.add(\"dz-drag-hover\");\n      },\n      dragleave: function(e) {\n        return this.element.classList.remove(\"dz-drag-hover\");\n      },\n      paste: noop,\n      reset: function() {\n        return this.element.classList.remove(\"dz-started\");\n      },\n      addedfile: function(file) {\n        var node, removeFileEvent, removeLink, _i, _j, _k, _len, _len1, _len2, _ref, _ref1, _ref2, _results;\n        if (this.element === this.previewsContainer) {\n          this.element.classList.add(\"dz-started\");\n        }\n        if (this.previewsContainer) {\n          file.previewElement = Dropzone.createElement(this.options.previewTemplate.trim());\n          file.previewTemplate = file.previewElement;\n          this.previewsContainer.appendChild(file.previewElement);\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-name]\");\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            node.textContent = this._renameFilename(file.name);\n          }\n          _ref1 = file.previewElement.querySelectorAll(\"[data-dz-size]\");\n          for (_j = 0, _len1 = _ref1.length; _j < _len1; _j++) {\n            node = _ref1[_j];\n            node.innerHTML = this.filesize(file.size);\n          }\n          if (this.options.addRemoveLinks) {\n            file._removeLink = Dropzone.createElement(\"<a class=\\\"dz-remove\\\" href=\\\"javascript:undefined;\\\" data-dz-remove>\" + this.options.dictRemoveFile + \"</a>\");\n            file.previewElement.appendChild(file._removeLink);\n          }\n          removeFileEvent = (function(_this) {\n            return function(e) {\n              e.preventDefault();\n              e.stopPropagation();\n              if (file.status === Dropzone.UPLOADING) {\n                return Dropzone.confirm(_this.options.dictCancelUploadConfirmation, function() {\n                  return _this.removeFile(file);\n                });\n              } else {\n                if (_this.options.dictRemoveFileConfirmation) {\n                  return Dropzone.confirm(_this.options.dictRemoveFileConfirmation, function() {\n                    return _this.removeFile(file);\n                  });\n                } else {\n                  return _this.removeFile(file);\n                }\n              }\n            };\n          })(this);\n          _ref2 = file.previewElement.querySelectorAll(\"[data-dz-remove]\");\n          _results = [];\n          for (_k = 0, _len2 = _ref2.length; _k < _len2; _k++) {\n            removeLink = _ref2[_k];\n            _results.push(removeLink.addEventListener(\"click\", removeFileEvent));\n          }\n          return _results;\n        }\n      },\n      removedfile: function(file) {\n        var _ref;\n        if (file.previewElement) {\n          if ((_ref = file.previewElement) != null) {\n            _ref.parentNode.removeChild(file.previewElement);\n          }\n        }\n        return this._updateMaxFilesReachedClass();\n      },\n      thumbnail: function(file, dataUrl) {\n        var thumbnailElement, _i, _len, _ref;\n        if (file.previewElement) {\n          file.previewElement.classList.remove(\"dz-file-preview\");\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-thumbnail]\");\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            thumbnailElement = _ref[_i];\n            thumbnailElement.alt = file.name;\n            thumbnailElement.src = dataUrl;\n          }\n          return setTimeout(((function(_this) {\n            return function() {\n              return file.previewElement.classList.add(\"dz-image-preview\");\n            };\n          })(this)), 1);\n        }\n      },\n      error: function(file, message) {\n        var node, _i, _len, _ref, _results;\n        if (file.previewElement) {\n          file.previewElement.classList.add(\"dz-error\");\n          if (typeof message !== \"String\" && message.error) {\n            message = message.error;\n          }\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-errormessage]\");\n          _results = [];\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            _results.push(node.textContent = message);\n          }\n          return _results;\n        }\n      },\n      errormultiple: noop,\n      processing: function(file) {\n        if (file.previewElement) {\n          file.previewElement.classList.add(\"dz-processing\");\n          if (file._removeLink) {\n            return file._removeLink.textContent = this.options.dictCancelUpload;\n          }\n        }\n      },\n      processingmultiple: noop,\n      uploadprogress: function(file, progress, bytesSent) {\n        var node, _i, _len, _ref, _results;\n        if (file.previewElement) {\n          _ref = file.previewElement.querySelectorAll(\"[data-dz-uploadprogress]\");\n          _results = [];\n          for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n            node = _ref[_i];\n            if (node.nodeName === 'PROGRESS') {\n              _results.push(node.value = progress);\n            } else {\n              _results.push(node.style.width = \"\" + progress + \"%\");\n            }\n          }\n          return _results;\n        }\n      },\n      totaluploadprogress: noop,\n      sending: noop,\n      sendingmultiple: noop,\n      success: function(file) {\n        if (file.previewElement) {\n          return file.previewElement.classList.add(\"dz-success\");\n        }\n      },\n      successmultiple: noop,\n      canceled: function(file) {\n        return this.emit(\"error\", file, \"Upload canceled.\");\n      },\n      canceledmultiple: noop,\n      complete: function(file) {\n        if (file._removeLink) {\n          file._removeLink.textContent = this.options.dictRemoveFile;\n        }\n        if (file.previewElement) {\n          return file.previewElement.classList.add(\"dz-complete\");\n        }\n      },\n      completemultiple: noop,\n      maxfilesexceeded: noop,\n      maxfilesreached: noop,\n      queuecomplete: noop,\n      addedfiles: noop,\n      previewTemplate: \"<div class=\\\"dz-preview dz-file-preview\\\">\\n  <div class=\\\"dz-image\\\"><img data-dz-thumbnail /></div>\\n  <div class=\\\"dz-details\\\">\\n    <div class=\\\"dz-size\\\"><span data-dz-size></span></div>\\n    <div class=\\\"dz-filename\\\"><span data-dz-name></span></div>\\n  </div>\\n  <div class=\\\"dz-progress\\\"><span class=\\\"dz-upload\\\" data-dz-uploadprogress></span></div>\\n  <div class=\\\"dz-error-message\\\"><span data-dz-errormessage></span></div>\\n  <div class=\\\"dz-success-mark\\\">\\n    <svg width=\\\"54px\\\" height=\\\"54px\\\" viewBox=\\\"0 0 54 54\\\" version=\\\"1.1\\\" xmlns=\\\"http://www.w3.org/2000/svg\\\" xmlns:xlink=\\\"http://www.w3.org/1999/xlink\\\" xmlns:sketch=\\\"http://www.bohemiancoding.com/sketch/ns\\\">\\n      <title>Check</title>\\n      <defs></defs>\\n      <g id=\\\"Page-1\\\" stroke=\\\"none\\\" stroke-width=\\\"1\\\" fill=\\\"none\\\" fill-rule=\\\"evenodd\\\" sketch:type=\\\"MSPage\\\">\\n        <path d=\\\"M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z\\\" id=\\\"Oval-2\\\" stroke-opacity=\\\"0.198794158\\\" stroke=\\\"#747474\\\" fill-opacity=\\\"0.816519475\\\" fill=\\\"#FFFFFF\\\" sketch:type=\\\"MSShapeGroup\\\"></path>\\n      </g>\\n    </svg>\\n  </div>\\n  <div class=\\\"dz-error-mark\\\">\\n    <svg width=\\\"54px\\\" height=\\\"54px\\\" viewBox=\\\"0 0 54 54\\\" version=\\\"1.1\\\" xmlns=\\\"http://www.w3.org/2000/svg\\\" xmlns:xlink=\\\"http://www.w3.org/1999/xlink\\\" xmlns:sketch=\\\"http://www.bohemiancoding.com/sketch/ns\\\">\\n      <title>Error</title>\\n      <defs></defs>\\n      <g id=\\\"Page-1\\\" stroke=\\\"none\\\" stroke-width=\\\"1\\\" fill=\\\"none\\\" fill-rule=\\\"evenodd\\\" sketch:type=\\\"MSPage\\\">\\n        <g id=\\\"Check-+-Oval-2\\\" sketch:type=\\\"MSLayerGroup\\\" stroke=\\\"#747474\\\" stroke-opacity=\\\"0.198794158\\\" fill=\\\"#FFFFFF\\\" fill-opacity=\\\"0.816519475\\\">\\n          <path d=\\\"M32.6568542,29 L38.3106978,23.3461564 C39.8771021,21.7797521 39.8758057,19.2483887 38.3137085,17.6862915 C36.7547899,16.1273729 34.2176035,16.1255422 32.6538436,17.6893022 L27,23.3431458 L21.3461564,17.6893022 C19.7823965,16.1255422 17.2452101,16.1273729 15.6862915,17.6862915 C14.1241943,19.2483887 14.1228979,21.7797521 15.6893022,23.3461564 L21.3431458,29 L15.6893022,34.6538436 C14.1228979,36.2202479 14.1241943,38.7516113 15.6862915,40.3137085 C17.2452101,41.8726271 19.7823965,41.8744578 21.3461564,40.3106978 L27,34.6568542 L32.6538436,40.3106978 C34.2176035,41.8744578 36.7547899,41.8726271 38.3137085,40.3137085 C39.8758057,38.7516113 39.8771021,36.2202479 38.3106978,34.6538436 L32.6568542,29 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z\\\" id=\\\"Oval-2\\\" sketch:type=\\\"MSShapeGroup\\\"></path>\\n        </g>\\n      </g>\\n    </svg>\\n  </div>\\n</div>\"\n    };\n\n    extend = function() {\n      var key, object, objects, target, val, _i, _len;\n      target = arguments[0], objects = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      for (_i = 0, _len = objects.length; _i < _len; _i++) {\n        object = objects[_i];\n        for (key in object) {\n          val = object[key];\n          target[key] = val;\n        }\n      }\n      return target;\n    };\n\n    function Dropzone(element, options) {\n      var elementOptions, fallback, _ref;\n      this.element = element;\n      this.version = Dropzone.version;\n      this.defaultOptions.previewTemplate = this.defaultOptions.previewTemplate.replace(/\\n*/g, \"\");\n      this.clickableElements = [];\n      this.listeners = [];\n      this.files = [];\n      if (typeof this.element === \"string\") {\n        this.element = document.querySelector(this.element);\n      }\n      if (!(this.element && (this.element.nodeType != null))) {\n        throw new Error(\"Invalid dropzone element.\");\n      }\n      if (this.element.dropzone) {\n        throw new Error(\"Dropzone already attached.\");\n      }\n      Dropzone.instances.push(this);\n      this.element.dropzone = this;\n      elementOptions = (_ref = Dropzone.optionsForElement(this.element)) != null ? _ref : {};\n      this.options = extend({}, this.defaultOptions, elementOptions, options != null ? options : {});\n      if (this.options.forceFallback || !Dropzone.isBrowserSupported()) {\n        return this.options.fallback.call(this);\n      }\n      if (this.options.url == null) {\n        this.options.url = this.element.getAttribute(\"action\");\n      }\n      if (!this.options.url) {\n        throw new Error(\"No URL provided.\");\n      }\n      if (this.options.acceptedFiles && this.options.acceptedMimeTypes) {\n        throw new Error(\"You can't provide both 'acceptedFiles' and 'acceptedMimeTypes'. 'acceptedMimeTypes' is deprecated.\");\n      }\n      if (this.options.acceptedMimeTypes) {\n        this.options.acceptedFiles = this.options.acceptedMimeTypes;\n        delete this.options.acceptedMimeTypes;\n      }\n      this.options.method = this.options.method.toUpperCase();\n      if ((fallback = this.getExistingFallback()) && fallback.parentNode) {\n        fallback.parentNode.removeChild(fallback);\n      }\n      if (this.options.previewsContainer !== false) {\n        if (this.options.previewsContainer) {\n          this.previewsContainer = Dropzone.getElement(this.options.previewsContainer, \"previewsContainer\");\n        } else {\n          this.previewsContainer = this.element;\n        }\n      }\n      if (this.options.clickable) {\n        if (this.options.clickable === true) {\n          this.clickableElements = [this.element];\n        } else {\n          this.clickableElements = Dropzone.getElements(this.options.clickable, \"clickable\");\n        }\n      }\n      this.init();\n    }\n\n    Dropzone.prototype.getAcceptedFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.accepted) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getRejectedFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (!file.accepted) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getFilesWithStatus = function(status) {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status === status) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.getQueuedFiles = function() {\n      return this.getFilesWithStatus(Dropzone.QUEUED);\n    };\n\n    Dropzone.prototype.getUploadingFiles = function() {\n      return this.getFilesWithStatus(Dropzone.UPLOADING);\n    };\n\n    Dropzone.prototype.getAddedFiles = function() {\n      return this.getFilesWithStatus(Dropzone.ADDED);\n    };\n\n    Dropzone.prototype.getActiveFiles = function() {\n      var file, _i, _len, _ref, _results;\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status === Dropzone.UPLOADING || file.status === Dropzone.QUEUED) {\n          _results.push(file);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.init = function() {\n      var eventName, noPropagation, setupHiddenFileInput, _i, _len, _ref, _ref1;\n      if (this.element.tagName === \"form\") {\n        this.element.setAttribute(\"enctype\", \"multipart/form-data\");\n      }\n      if (this.element.classList.contains(\"dropzone\") && !this.element.querySelector(\".dz-message\")) {\n        this.element.appendChild(Dropzone.createElement(\"<div class=\\\"dz-default dz-message\\\"><span>\" + this.options.dictDefaultMessage + \"</span></div>\"));\n      }\n      if (this.clickableElements.length) {\n        setupHiddenFileInput = (function(_this) {\n          return function() {\n            if (_this.hiddenFileInput) {\n              _this.hiddenFileInput.parentNode.removeChild(_this.hiddenFileInput);\n            }\n            _this.hiddenFileInput = document.createElement(\"input\");\n            _this.hiddenFileInput.setAttribute(\"type\", \"file\");\n            if ((_this.options.maxFiles == null) || _this.options.maxFiles > 1) {\n              _this.hiddenFileInput.setAttribute(\"multiple\", \"multiple\");\n            }\n            _this.hiddenFileInput.className = \"dz-hidden-input\";\n            if (_this.options.acceptedFiles != null) {\n              _this.hiddenFileInput.setAttribute(\"accept\", _this.options.acceptedFiles);\n            }\n            if (_this.options.capture != null) {\n              _this.hiddenFileInput.setAttribute(\"capture\", _this.options.capture);\n            }\n            _this.hiddenFileInput.style.visibility = \"hidden\";\n            _this.hiddenFileInput.style.position = \"absolute\";\n            _this.hiddenFileInput.style.top = \"0\";\n            _this.hiddenFileInput.style.left = \"0\";\n            _this.hiddenFileInput.style.height = \"0\";\n            _this.hiddenFileInput.style.width = \"0\";\n            document.querySelector(_this.options.hiddenInputContainer).appendChild(_this.hiddenFileInput);\n            return _this.hiddenFileInput.addEventListener(\"change\", function() {\n              var file, files, _i, _len;\n              files = _this.hiddenFileInput.files;\n              if (files.length) {\n                for (_i = 0, _len = files.length; _i < _len; _i++) {\n                  file = files[_i];\n                  _this.addFile(file);\n                }\n              }\n              _this.emit(\"addedfiles\", files);\n              return setupHiddenFileInput();\n            });\n          };\n        })(this);\n        setupHiddenFileInput();\n      }\n      this.URL = (_ref = window.URL) != null ? _ref : window.webkitURL;\n      _ref1 = this.events;\n      for (_i = 0, _len = _ref1.length; _i < _len; _i++) {\n        eventName = _ref1[_i];\n        this.on(eventName, this.options[eventName]);\n      }\n      this.on(\"uploadprogress\", (function(_this) {\n        return function() {\n          return _this.updateTotalUploadProgress();\n        };\n      })(this));\n      this.on(\"removedfile\", (function(_this) {\n        return function() {\n          return _this.updateTotalUploadProgress();\n        };\n      })(this));\n      this.on(\"canceled\", (function(_this) {\n        return function(file) {\n          return _this.emit(\"complete\", file);\n        };\n      })(this));\n      this.on(\"complete\", (function(_this) {\n        return function(file) {\n          if (_this.getAddedFiles().length === 0 && _this.getUploadingFiles().length === 0 && _this.getQueuedFiles().length === 0) {\n            return setTimeout((function() {\n              return _this.emit(\"queuecomplete\");\n            }), 0);\n          }\n        };\n      })(this));\n      noPropagation = function(e) {\n        e.stopPropagation();\n        if (e.preventDefault) {\n          return e.preventDefault();\n        } else {\n          return e.returnValue = false;\n        }\n      };\n      this.listeners = [\n        {\n          element: this.element,\n          events: {\n            \"dragstart\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragstart\", e);\n              };\n            })(this),\n            \"dragenter\": (function(_this) {\n              return function(e) {\n                noPropagation(e);\n                return _this.emit(\"dragenter\", e);\n              };\n            })(this),\n            \"dragover\": (function(_this) {\n              return function(e) {\n                var efct;\n                try {\n                  efct = e.dataTransfer.effectAllowed;\n                } catch (_error) {}\n                e.dataTransfer.dropEffect = 'move' === efct || 'linkMove' === efct ? 'move' : 'copy';\n                noPropagation(e);\n                return _this.emit(\"dragover\", e);\n              };\n            })(this),\n            \"dragleave\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragleave\", e);\n              };\n            })(this),\n            \"drop\": (function(_this) {\n              return function(e) {\n                noPropagation(e);\n                return _this.drop(e);\n              };\n            })(this),\n            \"dragend\": (function(_this) {\n              return function(e) {\n                return _this.emit(\"dragend\", e);\n              };\n            })(this)\n          }\n        }\n      ];\n      this.clickableElements.forEach((function(_this) {\n        return function(clickableElement) {\n          return _this.listeners.push({\n            element: clickableElement,\n            events: {\n              \"click\": function(evt) {\n                if ((clickableElement !== _this.element) || (evt.target === _this.element || Dropzone.elementInside(evt.target, _this.element.querySelector(\".dz-message\")))) {\n                  _this.hiddenFileInput.click();\n                }\n                return true;\n              }\n            }\n          });\n        };\n      })(this));\n      this.enable();\n      return this.options.init.call(this);\n    };\n\n    Dropzone.prototype.destroy = function() {\n      var _ref;\n      this.disable();\n      this.removeAllFiles(true);\n      if ((_ref = this.hiddenFileInput) != null ? _ref.parentNode : void 0) {\n        this.hiddenFileInput.parentNode.removeChild(this.hiddenFileInput);\n        this.hiddenFileInput = null;\n      }\n      delete this.element.dropzone;\n      return Dropzone.instances.splice(Dropzone.instances.indexOf(this), 1);\n    };\n\n    Dropzone.prototype.updateTotalUploadProgress = function() {\n      var activeFiles, file, totalBytes, totalBytesSent, totalUploadProgress, _i, _len, _ref;\n      totalBytesSent = 0;\n      totalBytes = 0;\n      activeFiles = this.getActiveFiles();\n      if (activeFiles.length) {\n        _ref = this.getActiveFiles();\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          file = _ref[_i];\n          totalBytesSent += file.upload.bytesSent;\n          totalBytes += file.upload.total;\n        }\n        totalUploadProgress = 100 * totalBytesSent / totalBytes;\n      } else {\n        totalUploadProgress = 100;\n      }\n      return this.emit(\"totaluploadprogress\", totalUploadProgress, totalBytes, totalBytesSent);\n    };\n\n    Dropzone.prototype._getParamName = function(n) {\n      if (typeof this.options.paramName === \"function\") {\n        return this.options.paramName(n);\n      } else {\n        return \"\" + this.options.paramName + (this.options.uploadMultiple ? \"[\" + n + \"]\" : \"\");\n      }\n    };\n\n    Dropzone.prototype._renameFilename = function(name) {\n      if (typeof this.options.renameFilename !== \"function\") {\n        return name;\n      }\n      return this.options.renameFilename(name);\n    };\n\n    Dropzone.prototype.getFallbackForm = function() {\n      var existingFallback, fields, fieldsString, form;\n      if (existingFallback = this.getExistingFallback()) {\n        return existingFallback;\n      }\n      fieldsString = \"<div class=\\\"dz-fallback\\\">\";\n      if (this.options.dictFallbackText) {\n        fieldsString += \"<p>\" + this.options.dictFallbackText + \"</p>\";\n      }\n      fieldsString += \"<input type=\\\"file\\\" name=\\\"\" + (this._getParamName(0)) + \"\\\" \" + (this.options.uploadMultiple ? 'multiple=\"multiple\"' : void 0) + \" /><input type=\\\"submit\\\" value=\\\"Upload!\\\"></div>\";\n      fields = Dropzone.createElement(fieldsString);\n      if (this.element.tagName !== \"FORM\") {\n        form = Dropzone.createElement(\"<form action=\\\"\" + this.options.url + \"\\\" enctype=\\\"multipart/form-data\\\" method=\\\"\" + this.options.method + \"\\\"></form>\");\n        form.appendChild(fields);\n      } else {\n        this.element.setAttribute(\"enctype\", \"multipart/form-data\");\n        this.element.setAttribute(\"method\", this.options.method);\n      }\n      return form != null ? form : fields;\n    };\n\n    Dropzone.prototype.getExistingFallback = function() {\n      var fallback, getFallback, tagName, _i, _len, _ref;\n      getFallback = function(elements) {\n        var el, _i, _len;\n        for (_i = 0, _len = elements.length; _i < _len; _i++) {\n          el = elements[_i];\n          if (/(^| )fallback($| )/.test(el.className)) {\n            return el;\n          }\n        }\n      };\n      _ref = [\"div\", \"form\"];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        tagName = _ref[_i];\n        if (fallback = getFallback(this.element.getElementsByTagName(tagName))) {\n          return fallback;\n        }\n      }\n    };\n\n    Dropzone.prototype.setupEventListeners = function() {\n      var elementListeners, event, listener, _i, _len, _ref, _results;\n      _ref = this.listeners;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        elementListeners = _ref[_i];\n        _results.push((function() {\n          var _ref1, _results1;\n          _ref1 = elementListeners.events;\n          _results1 = [];\n          for (event in _ref1) {\n            listener = _ref1[event];\n            _results1.push(elementListeners.element.addEventListener(event, listener, false));\n          }\n          return _results1;\n        })());\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.removeEventListeners = function() {\n      var elementListeners, event, listener, _i, _len, _ref, _results;\n      _ref = this.listeners;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        elementListeners = _ref[_i];\n        _results.push((function() {\n          var _ref1, _results1;\n          _ref1 = elementListeners.events;\n          _results1 = [];\n          for (event in _ref1) {\n            listener = _ref1[event];\n            _results1.push(elementListeners.element.removeEventListener(event, listener, false));\n          }\n          return _results1;\n        })());\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.disable = function() {\n      var file, _i, _len, _ref, _results;\n      this.clickableElements.forEach(function(element) {\n        return element.classList.remove(\"dz-clickable\");\n      });\n      this.removeEventListeners();\n      _ref = this.files;\n      _results = [];\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        _results.push(this.cancelUpload(file));\n      }\n      return _results;\n    };\n\n    Dropzone.prototype.enable = function() {\n      this.clickableElements.forEach(function(element) {\n        return element.classList.add(\"dz-clickable\");\n      });\n      return this.setupEventListeners();\n    };\n\n    Dropzone.prototype.filesize = function(size) {\n      var cutoff, i, selectedSize, selectedUnit, unit, units, _i, _len;\n      selectedSize = 0;\n      selectedUnit = \"b\";\n      if (size > 0) {\n        units = ['TB', 'GB', 'MB', 'KB', 'b'];\n        for (i = _i = 0, _len = units.length; _i < _len; i = ++_i) {\n          unit = units[i];\n          cutoff = Math.pow(this.options.filesizeBase, 4 - i) / 10;\n          if (size >= cutoff) {\n            selectedSize = size / Math.pow(this.options.filesizeBase, 4 - i);\n            selectedUnit = unit;\n            break;\n          }\n        }\n        selectedSize = Math.round(10 * selectedSize) / 10;\n      }\n      return \"<strong>\" + selectedSize + \"</strong> \" + selectedUnit;\n    };\n\n    Dropzone.prototype._updateMaxFilesReachedClass = function() {\n      if ((this.options.maxFiles != null) && this.getAcceptedFiles().length >= this.options.maxFiles) {\n        if (this.getAcceptedFiles().length === this.options.maxFiles) {\n          this.emit('maxfilesreached', this.files);\n        }\n        return this.element.classList.add(\"dz-max-files-reached\");\n      } else {\n        return this.element.classList.remove(\"dz-max-files-reached\");\n      }\n    };\n\n    Dropzone.prototype.drop = function(e) {\n      var files, items;\n      if (!e.dataTransfer) {\n        return;\n      }\n      this.emit(\"drop\", e);\n      files = e.dataTransfer.files;\n      this.emit(\"addedfiles\", files);\n      if (files.length) {\n        items = e.dataTransfer.items;\n        if (items && items.length && (items[0].webkitGetAsEntry != null)) {\n          this._addFilesFromItems(items);\n        } else {\n          this.handleFiles(files);\n        }\n      }\n    };\n\n    Dropzone.prototype.paste = function(e) {\n      var items, _ref;\n      if ((e != null ? (_ref = e.clipboardData) != null ? _ref.items : void 0 : void 0) == null) {\n        return;\n      }\n      this.emit(\"paste\", e);\n      items = e.clipboardData.items;\n      if (items.length) {\n        return this._addFilesFromItems(items);\n      }\n    };\n\n    Dropzone.prototype.handleFiles = function(files) {\n      var file, _i, _len, _results;\n      _results = [];\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        _results.push(this.addFile(file));\n      }\n      return _results;\n    };\n\n    Dropzone.prototype._addFilesFromItems = function(items) {\n      var entry, item, _i, _len, _results;\n      _results = [];\n      for (_i = 0, _len = items.length; _i < _len; _i++) {\n        item = items[_i];\n        if ((item.webkitGetAsEntry != null) && (entry = item.webkitGetAsEntry())) {\n          if (entry.isFile) {\n            _results.push(this.addFile(item.getAsFile()));\n          } else if (entry.isDirectory) {\n            _results.push(this._addFilesFromDirectory(entry, entry.name));\n          } else {\n            _results.push(void 0);\n          }\n        } else if (item.getAsFile != null) {\n          if ((item.kind == null) || item.kind === \"file\") {\n            _results.push(this.addFile(item.getAsFile()));\n          } else {\n            _results.push(void 0);\n          }\n        } else {\n          _results.push(void 0);\n        }\n      }\n      return _results;\n    };\n\n    Dropzone.prototype._addFilesFromDirectory = function(directory, path) {\n      var dirReader, errorHandler, readEntries;\n      dirReader = directory.createReader();\n      errorHandler = function(error) {\n        return typeof console !== \"undefined\" && console !== null ? typeof console.log === \"function\" ? console.log(error) : void 0 : void 0;\n      };\n      readEntries = (function(_this) {\n        return function() {\n          return dirReader.readEntries(function(entries) {\n            var entry, _i, _len;\n            if (entries.length > 0) {\n              for (_i = 0, _len = entries.length; _i < _len; _i++) {\n                entry = entries[_i];\n                if (entry.isFile) {\n                  entry.file(function(file) {\n                    if (_this.options.ignoreHiddenFiles && file.name.substring(0, 1) === '.') {\n                      return;\n                    }\n                    file.fullPath = \"\" + path + \"/\" + file.name;\n                    return _this.addFile(file);\n                  });\n                } else if (entry.isDirectory) {\n                  _this._addFilesFromDirectory(entry, \"\" + path + \"/\" + entry.name);\n                }\n              }\n              readEntries();\n            }\n            return null;\n          }, errorHandler);\n        };\n      })(this);\n      return readEntries();\n    };\n\n    Dropzone.prototype.accept = function(file, done) {\n      if (file.size > this.options.maxFilesize * 1024 * 1024) {\n        return done(this.options.dictFileTooBig.replace(\"{{filesize}}\", Math.round(file.size / 1024 / 10.24) / 100).replace(\"{{maxFilesize}}\", this.options.maxFilesize));\n      } else if (!Dropzone.isValidFile(file, this.options.acceptedFiles)) {\n        return done(this.options.dictInvalidFileType);\n      } else if ((this.options.maxFiles != null) && this.getAcceptedFiles().length >= this.options.maxFiles) {\n        done(this.options.dictMaxFilesExceeded.replace(\"{{maxFiles}}\", this.options.maxFiles));\n        return this.emit(\"maxfilesexceeded\", file);\n      } else {\n        return this.options.accept.call(this, file, done);\n      }\n    };\n\n    Dropzone.prototype.addFile = function(file) {\n      file.upload = {\n        progress: 0,\n        total: file.size,\n        bytesSent: 0\n      };\n      this.files.push(file);\n      file.status = Dropzone.ADDED;\n      this.emit(\"addedfile\", file);\n      this._enqueueThumbnail(file);\n      return this.accept(file, (function(_this) {\n        return function(error) {\n          if (error) {\n            file.accepted = false;\n            _this._errorProcessing([file], error);\n          } else {\n            file.accepted = true;\n            if (_this.options.autoQueue) {\n              _this.enqueueFile(file);\n            }\n          }\n          return _this._updateMaxFilesReachedClass();\n        };\n      })(this));\n    };\n\n    Dropzone.prototype.enqueueFiles = function(files) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        this.enqueueFile(file);\n      }\n      return null;\n    };\n\n    Dropzone.prototype.enqueueFile = function(file) {\n      if (file.status === Dropzone.ADDED && file.accepted === true) {\n        file.status = Dropzone.QUEUED;\n        if (this.options.autoProcessQueue) {\n          return setTimeout(((function(_this) {\n            return function() {\n              return _this.processQueue();\n            };\n          })(this)), 0);\n        }\n      } else {\n        throw new Error(\"This file can't be queued because it has already been processed or was rejected.\");\n      }\n    };\n\n    Dropzone.prototype._thumbnailQueue = [];\n\n    Dropzone.prototype._processingThumbnail = false;\n\n    Dropzone.prototype._enqueueThumbnail = function(file) {\n      if (this.options.createImageThumbnails && file.type.match(/image.*/) && file.size <= this.options.maxThumbnailFilesize * 1024 * 1024) {\n        this._thumbnailQueue.push(file);\n        return setTimeout(((function(_this) {\n          return function() {\n            return _this._processThumbnailQueue();\n          };\n        })(this)), 0);\n      }\n    };\n\n    Dropzone.prototype._processThumbnailQueue = function() {\n      if (this._processingThumbnail || this._thumbnailQueue.length === 0) {\n        return;\n      }\n      this._processingThumbnail = true;\n      return this.createThumbnail(this._thumbnailQueue.shift(), (function(_this) {\n        return function() {\n          _this._processingThumbnail = false;\n          return _this._processThumbnailQueue();\n        };\n      })(this));\n    };\n\n    Dropzone.prototype.removeFile = function(file) {\n      if (file.status === Dropzone.UPLOADING) {\n        this.cancelUpload(file);\n      }\n      this.files = without(this.files, file);\n      this.emit(\"removedfile\", file);\n      if (this.files.length === 0) {\n        return this.emit(\"reset\");\n      }\n    };\n\n    Dropzone.prototype.removeAllFiles = function(cancelIfNecessary) {\n      var file, _i, _len, _ref;\n      if (cancelIfNecessary == null) {\n        cancelIfNecessary = false;\n      }\n      _ref = this.files.slice();\n      for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n        file = _ref[_i];\n        if (file.status !== Dropzone.UPLOADING || cancelIfNecessary) {\n          this.removeFile(file);\n        }\n      }\n      return null;\n    };\n\n    Dropzone.prototype.createThumbnail = function(file, callback) {\n      var fileReader;\n      fileReader = new FileReader;\n      fileReader.onload = (function(_this) {\n        return function() {\n          if (file.type === \"image/svg+xml\") {\n            _this.emit(\"thumbnail\", file, fileReader.result);\n            if (callback != null) {\n              callback();\n            }\n            return;\n          }\n          return _this.createThumbnailFromUrl(file, fileReader.result, callback);\n        };\n      })(this);\n      return fileReader.readAsDataURL(file);\n    };\n\n    Dropzone.prototype.createThumbnailFromUrl = function(file, imageUrl, callback, crossOrigin) {\n      var img;\n      img = document.createElement(\"img\");\n      if (crossOrigin) {\n        img.crossOrigin = crossOrigin;\n      }\n      img.onload = (function(_this) {\n        return function() {\n          var canvas, ctx, resizeInfo, thumbnail, _ref, _ref1, _ref2, _ref3;\n          file.width = img.width;\n          file.height = img.height;\n          resizeInfo = _this.options.resize.call(_this, file);\n          if (resizeInfo.trgWidth == null) {\n            resizeInfo.trgWidth = resizeInfo.optWidth;\n          }\n          if (resizeInfo.trgHeight == null) {\n            resizeInfo.trgHeight = resizeInfo.optHeight;\n          }\n          canvas = document.createElement(\"canvas\");\n          ctx = canvas.getContext(\"2d\");\n          canvas.width = resizeInfo.trgWidth;\n          canvas.height = resizeInfo.trgHeight;\n          drawImageIOSFix(ctx, img, (_ref = resizeInfo.srcX) != null ? _ref : 0, (_ref1 = resizeInfo.srcY) != null ? _ref1 : 0, resizeInfo.srcWidth, resizeInfo.srcHeight, (_ref2 = resizeInfo.trgX) != null ? _ref2 : 0, (_ref3 = resizeInfo.trgY) != null ? _ref3 : 0, resizeInfo.trgWidth, resizeInfo.trgHeight);\n          thumbnail = canvas.toDataURL(\"image/png\");\n          _this.emit(\"thumbnail\", file, thumbnail);\n          if (callback != null) {\n            return callback();\n          }\n        };\n      })(this);\n      if (callback != null) {\n        img.onerror = callback;\n      }\n      return img.src = imageUrl;\n    };\n\n    Dropzone.prototype.processQueue = function() {\n      var i, parallelUploads, processingLength, queuedFiles;\n      parallelUploads = this.options.parallelUploads;\n      processingLength = this.getUploadingFiles().length;\n      i = processingLength;\n      if (processingLength >= parallelUploads) {\n        return;\n      }\n      queuedFiles = this.getQueuedFiles();\n      if (!(queuedFiles.length > 0)) {\n        return;\n      }\n      if (this.options.uploadMultiple) {\n        return this.processFiles(queuedFiles.slice(0, parallelUploads - processingLength));\n      } else {\n        while (i < parallelUploads) {\n          if (!queuedFiles.length) {\n            return;\n          }\n          this.processFile(queuedFiles.shift());\n          i++;\n        }\n      }\n    };\n\n    Dropzone.prototype.processFile = function(file) {\n      return this.processFiles([file]);\n    };\n\n    Dropzone.prototype.processFiles = function(files) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.processing = true;\n        file.status = Dropzone.UPLOADING;\n        this.emit(\"processing\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"processingmultiple\", files);\n      }\n      return this.uploadFiles(files);\n    };\n\n    Dropzone.prototype._getFilesWithXhr = function(xhr) {\n      var file, files;\n      return files = (function() {\n        var _i, _len, _ref, _results;\n        _ref = this.files;\n        _results = [];\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          file = _ref[_i];\n          if (file.xhr === xhr) {\n            _results.push(file);\n          }\n        }\n        return _results;\n      }).call(this);\n    };\n\n    Dropzone.prototype.cancelUpload = function(file) {\n      var groupedFile, groupedFiles, _i, _j, _len, _len1, _ref;\n      if (file.status === Dropzone.UPLOADING) {\n        groupedFiles = this._getFilesWithXhr(file.xhr);\n        for (_i = 0, _len = groupedFiles.length; _i < _len; _i++) {\n          groupedFile = groupedFiles[_i];\n          groupedFile.status = Dropzone.CANCELED;\n        }\n        file.xhr.abort();\n        for (_j = 0, _len1 = groupedFiles.length; _j < _len1; _j++) {\n          groupedFile = groupedFiles[_j];\n          this.emit(\"canceled\", groupedFile);\n        }\n        if (this.options.uploadMultiple) {\n          this.emit(\"canceledmultiple\", groupedFiles);\n        }\n      } else if ((_ref = file.status) === Dropzone.ADDED || _ref === Dropzone.QUEUED) {\n        file.status = Dropzone.CANCELED;\n        this.emit(\"canceled\", file);\n        if (this.options.uploadMultiple) {\n          this.emit(\"canceledmultiple\", [file]);\n        }\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    resolveOption = function() {\n      var args, option;\n      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];\n      if (typeof option === 'function') {\n        return option.apply(this, args);\n      }\n      return option;\n    };\n\n    Dropzone.prototype.uploadFile = function(file) {\n      return this.uploadFiles([file]);\n    };\n\n    Dropzone.prototype.uploadFiles = function(files) {\n      var file, formData, handleError, headerName, headerValue, headers, i, input, inputName, inputType, key, method, option, progressObj, response, updateProgress, url, value, xhr, _i, _j, _k, _l, _len, _len1, _len2, _len3, _m, _ref, _ref1, _ref2, _ref3, _ref4, _ref5;\n      xhr = new XMLHttpRequest();\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.xhr = xhr;\n      }\n      method = resolveOption(this.options.method, files);\n      url = resolveOption(this.options.url, files);\n      xhr.open(method, url, true);\n      xhr.withCredentials = !!this.options.withCredentials;\n      response = null;\n      handleError = (function(_this) {\n        return function() {\n          var _j, _len1, _results;\n          _results = [];\n          for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n            file = files[_j];\n            _results.push(_this._errorProcessing(files, response || _this.options.dictResponseError.replace(\"{{statusCode}}\", xhr.status), xhr));\n          }\n          return _results;\n        };\n      })(this);\n      updateProgress = (function(_this) {\n        return function(e) {\n          var allFilesFinished, progress, _j, _k, _l, _len1, _len2, _len3, _results;\n          if (e != null) {\n            progress = 100 * e.loaded / e.total;\n            for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n              file = files[_j];\n              file.upload = {\n                progress: progress,\n                total: e.total,\n                bytesSent: e.loaded\n              };\n            }\n          } else {\n            allFilesFinished = true;\n            progress = 100;\n            for (_k = 0, _len2 = files.length; _k < _len2; _k++) {\n              file = files[_k];\n              if (!(file.upload.progress === 100 && file.upload.bytesSent === file.upload.total)) {\n                allFilesFinished = false;\n              }\n              file.upload.progress = progress;\n              file.upload.bytesSent = file.upload.total;\n            }\n            if (allFilesFinished) {\n              return;\n            }\n          }\n          _results = [];\n          for (_l = 0, _len3 = files.length; _l < _len3; _l++) {\n            file = files[_l];\n            _results.push(_this.emit(\"uploadprogress\", file, progress, file.upload.bytesSent));\n          }\n          return _results;\n        };\n      })(this);\n      xhr.onload = (function(_this) {\n        return function(e) {\n          var _ref;\n          if (files[0].status === Dropzone.CANCELED) {\n            return;\n          }\n          if (xhr.readyState !== 4) {\n            return;\n          }\n          response = xhr.responseText;\n          if (xhr.getResponseHeader(\"content-type\") && ~xhr.getResponseHeader(\"content-type\").indexOf(\"application/json\")) {\n            try {\n              response = JSON.parse(response);\n            } catch (_error) {\n              e = _error;\n              response = \"Invalid JSON response from server.\";\n            }\n          }\n          updateProgress();\n          if (!((200 <= (_ref = xhr.status) && _ref < 300))) {\n            return handleError();\n          } else {\n            return _this._finished(files, response, e);\n          }\n        };\n      })(this);\n      xhr.onerror = (function(_this) {\n        return function() {\n          if (files[0].status === Dropzone.CANCELED) {\n            return;\n          }\n          return handleError();\n        };\n      })(this);\n      progressObj = (_ref = xhr.upload) != null ? _ref : xhr;\n      progressObj.onprogress = updateProgress;\n      headers = {\n        \"Accept\": \"application/json\",\n        \"Cache-Control\": \"no-cache\",\n        \"X-Requested-With\": \"XMLHttpRequest\"\n      };\n      if (this.options.headers) {\n        extend(headers, this.options.headers);\n      }\n      for (headerName in headers) {\n        headerValue = headers[headerName];\n        if (headerValue) {\n          xhr.setRequestHeader(headerName, headerValue);\n        }\n      }\n      formData = new FormData();\n      if (this.options.params) {\n        _ref1 = this.options.params;\n        for (key in _ref1) {\n          value = _ref1[key];\n          formData.append(key, value);\n        }\n      }\n      for (_j = 0, _len1 = files.length; _j < _len1; _j++) {\n        file = files[_j];\n        this.emit(\"sending\", file, xhr, formData);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"sendingmultiple\", files, xhr, formData);\n      }\n      if (this.element.tagName === \"FORM\") {\n        _ref2 = this.element.querySelectorAll(\"input, textarea, select, button\");\n        for (_k = 0, _len2 = _ref2.length; _k < _len2; _k++) {\n          input = _ref2[_k];\n          inputName = input.getAttribute(\"name\");\n          inputType = input.getAttribute(\"type\");\n          if (input.tagName === \"SELECT\" && input.hasAttribute(\"multiple\")) {\n            _ref3 = input.options;\n            for (_l = 0, _len3 = _ref3.length; _l < _len3; _l++) {\n              option = _ref3[_l];\n              if (option.selected) {\n                formData.append(inputName, option.value);\n              }\n            }\n          } else if (!inputType || ((_ref4 = inputType.toLowerCase()) !== \"checkbox\" && _ref4 !== \"radio\") || input.checked) {\n            formData.append(inputName, input.value);\n          }\n        }\n      }\n      for (i = _m = 0, _ref5 = files.length - 1; 0 <= _ref5 ? _m <= _ref5 : _m >= _ref5; i = 0 <= _ref5 ? ++_m : --_m) {\n        formData.append(this._getParamName(i), files[i], this._renameFilename(files[i].name));\n      }\n      return this.submitRequest(xhr, formData, files);\n    };\n\n    Dropzone.prototype.submitRequest = function(xhr, formData, files) {\n      return xhr.send(formData);\n    };\n\n    Dropzone.prototype._finished = function(files, responseText, e) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.status = Dropzone.SUCCESS;\n        this.emit(\"success\", file, responseText, e);\n        this.emit(\"complete\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"successmultiple\", files, responseText, e);\n        this.emit(\"completemultiple\", files);\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    Dropzone.prototype._errorProcessing = function(files, message, xhr) {\n      var file, _i, _len;\n      for (_i = 0, _len = files.length; _i < _len; _i++) {\n        file = files[_i];\n        file.status = Dropzone.ERROR;\n        this.emit(\"error\", file, message, xhr);\n        this.emit(\"complete\", file);\n      }\n      if (this.options.uploadMultiple) {\n        this.emit(\"errormultiple\", files, message, xhr);\n        this.emit(\"completemultiple\", files);\n      }\n      if (this.options.autoProcessQueue) {\n        return this.processQueue();\n      }\n    };\n\n    return Dropzone;\n\n  })(Emitter);\n\n  Dropzone.version = \"4.3.0\";\n\n  Dropzone.options = {};\n\n  Dropzone.optionsForElement = function(element) {\n    if (element.getAttribute(\"id\")) {\n      return Dropzone.options[camelize(element.getAttribute(\"id\"))];\n    } else {\n      return void 0;\n    }\n  };\n\n  Dropzone.instances = [];\n\n  Dropzone.forElement = function(element) {\n    if (typeof element === \"string\") {\n      element = document.querySelector(element);\n    }\n    if ((element != null ? element.dropzone : void 0) == null) {\n      throw new Error(\"No Dropzone found for given element. This is probably because you're trying to access it before Dropzone had the time to initialize. Use the `init` option to setup any additional observers on your Dropzone.\");\n    }\n    return element.dropzone;\n  };\n\n  Dropzone.autoDiscover = true;\n\n  Dropzone.discover = function() {\n    var checkElements, dropzone, dropzones, _i, _len, _results;\n    if (document.querySelectorAll) {\n      dropzones = document.querySelectorAll(\".dropzone\");\n    } else {\n      dropzones = [];\n      checkElements = function(elements) {\n        var el, _i, _len, _results;\n        _results = [];\n        for (_i = 0, _len = elements.length; _i < _len; _i++) {\n          el = elements[_i];\n          if (/(^| )dropzone($| )/.test(el.className)) {\n            _results.push(dropzones.push(el));\n          } else {\n            _results.push(void 0);\n          }\n        }\n        return _results;\n      };\n      checkElements(document.getElementsByTagName(\"div\"));\n      checkElements(document.getElementsByTagName(\"form\"));\n    }\n    _results = [];\n    for (_i = 0, _len = dropzones.length; _i < _len; _i++) {\n      dropzone = dropzones[_i];\n      if (Dropzone.optionsForElement(dropzone) !== false) {\n        _results.push(new Dropzone(dropzone));\n      } else {\n        _results.push(void 0);\n      }\n    }\n    return _results;\n  };\n\n  Dropzone.blacklistedBrowsers = [/opera.*Macintosh.*version\\/12/i];\n\n  Dropzone.isBrowserSupported = function() {\n    var capableBrowser, regex, _i, _len, _ref;\n    capableBrowser = true;\n    if (window.File && window.FileReader && window.FileList && window.Blob && window.FormData && document.querySelector) {\n      if (!(\"classList\" in document.createElement(\"a\"))) {\n        capableBrowser = false;\n      } else {\n        _ref = Dropzone.blacklistedBrowsers;\n        for (_i = 0, _len = _ref.length; _i < _len; _i++) {\n          regex = _ref[_i];\n          if (regex.test(navigator.userAgent)) {\n            capableBrowser = false;\n            continue;\n          }\n        }\n      }\n    } else {\n      capableBrowser = false;\n    }\n    return capableBrowser;\n  };\n\n  without = function(list, rejectedItem) {\n    var item, _i, _len, _results;\n    _results = [];\n    for (_i = 0, _len = list.length; _i < _len; _i++) {\n      item = list[_i];\n      if (item !== rejectedItem) {\n        _results.push(item);\n      }\n    }\n    return _results;\n  };\n\n  camelize = function(str) {\n    return str.replace(/[\\-_](\\w)/g, function(match) {\n      return match.charAt(1).toUpperCase();\n    });\n  };\n\n  Dropzone.createElement = function(string) {\n    var div;\n    div = document.createElement(\"div\");\n    div.innerHTML = string;\n    return div.childNodes[0];\n  };\n\n  Dropzone.elementInside = function(element, container) {\n    if (element === container) {\n      return true;\n    }\n    while (element = element.parentNode) {\n      if (element === container) {\n        return true;\n      }\n    }\n    return false;\n  };\n\n  Dropzone.getElement = function(el, name) {\n    var element;\n    if (typeof el === \"string\") {\n      element = document.querySelector(el);\n    } else if (el.nodeType != null) {\n      element = el;\n    }\n    if (element == null) {\n      throw new Error(\"Invalid `\" + name + \"` option provided. Please provide a CSS selector or a plain HTML element.\");\n    }\n    return element;\n  };\n\n  Dropzone.getElements = function(els, name) {\n    var e, el, elements, _i, _j, _len, _len1, _ref;\n    if (els instanceof Array) {\n      elements = [];\n      try {\n        for (_i = 0, _len = els.length; _i < _len; _i++) {\n          el = els[_i];\n          elements.push(this.getElement(el, name));\n        }\n      } catch (_error) {\n        e = _error;\n        elements = null;\n      }\n    } else if (typeof els === \"string\") {\n      elements = [];\n      _ref = document.querySelectorAll(els);\n      for (_j = 0, _len1 = _ref.length; _j < _len1; _j++) {\n        el = _ref[_j];\n        elements.push(el);\n      }\n    } else if (els.nodeType != null) {\n      elements = [els];\n    }\n    if (!((elements != null) && elements.length)) {\n      throw new Error(\"Invalid `\" + name + \"` option provided. Please provide a CSS selector, a plain HTML element or a list of those.\");\n    }\n    return elements;\n  };\n\n  Dropzone.confirm = function(question, accepted, rejected) {\n    if (window.confirm(question)) {\n      return accepted();\n    } else if (rejected != null) {\n      return rejected();\n    }\n  };\n\n  Dropzone.isValidFile = function(file, acceptedFiles) {\n    var baseMimeType, mimeType, validType, _i, _len;\n    if (!acceptedFiles) {\n      return true;\n    }\n    acceptedFiles = acceptedFiles.split(\",\");\n    mimeType = file.type;\n    baseMimeType = mimeType.replace(/\\/.*$/, \"\");\n    for (_i = 0, _len = acceptedFiles.length; _i < _len; _i++) {\n      validType = acceptedFiles[_i];\n      validType = validType.trim();\n      if (validType.charAt(0) === \".\") {\n        if (file.name.toLowerCase().indexOf(validType.toLowerCase(), file.name.length - validType.length) !== -1) {\n          return true;\n        }\n      } else if (/\\/\\*$/.test(validType)) {\n        if (baseMimeType === validType.replace(/\\/.*$/, \"\")) {\n          return true;\n        }\n      } else {\n        if (mimeType === validType) {\n          return true;\n        }\n      }\n    }\n    return false;\n  };\n\n  if (typeof jQuery !== \"undefined\" && jQuery !== null) {\n    jQuery.fn.dropzone = function(options) {\n      return this.each(function() {\n        return new Dropzone(this, options);\n      });\n    };\n  }\n\n  if (typeof module !== \"undefined\" && module !== null) {\n    module.exports = Dropzone;\n  } else {\n    window.Dropzone = Dropzone;\n  }\n\n  Dropzone.ADDED = \"added\";\n\n  Dropzone.QUEUED = \"queued\";\n\n  Dropzone.ACCEPTED = Dropzone.QUEUED;\n\n  Dropzone.UPLOADING = \"uploading\";\n\n  Dropzone.PROCESSING = Dropzone.UPLOADING;\n\n  Dropzone.CANCELED = \"canceled\";\n\n  Dropzone.ERROR = \"error\";\n\n  Dropzone.SUCCESS = \"success\";\n\n\n  /*\n  \n  Bugfix for iOS 6 and 7\n  Source: http://stackoverflow.com/questions/11929099/html5-canvas-drawimage-ratio-bug-ios\n  based on the work of https://github.com/stomita/ios-imagefile-megapixel\n   */\n\n  detectVerticalSquash = function(img) {\n    var alpha, canvas, ctx, data, ey, ih, iw, py, ratio, sy;\n    iw = img.naturalWidth;\n    ih = img.naturalHeight;\n    canvas = document.createElement(\"canvas\");\n    canvas.width = 1;\n    canvas.height = ih;\n    ctx = canvas.getContext(\"2d\");\n    ctx.drawImage(img, 0, 0);\n    data = ctx.getImageData(0, 0, 1, ih).data;\n    sy = 0;\n    ey = ih;\n    py = ih;\n    while (py > sy) {\n      alpha = data[(py - 1) * 4 + 3];\n      if (alpha === 0) {\n        ey = py;\n      } else {\n        sy = py;\n      }\n      py = (ey + sy) >> 1;\n    }\n    ratio = py / ih;\n    if (ratio === 0) {\n      return 1;\n    } else {\n      return ratio;\n    }\n  };\n\n  drawImageIOSFix = function(ctx, img, sx, sy, sw, sh, dx, dy, dw, dh) {\n    var vertSquashRatio;\n    vertSquashRatio = detectVerticalSquash(img);\n    return ctx.drawImage(img, sx, sy, sw, sh, dx, dy, dw, dh / vertSquashRatio);\n  };\n\n\n  /*\n   * contentloaded.js\n   *\n   * Author: Diego Perini (diego.perini at gmail.com)\n   * Summary: cross-browser wrapper for DOMContentLoaded\n   * Updated: 20101020\n   * License: MIT\n   * Version: 1.2\n   *\n   * URL:\n   * http://javascript.nwbox.com/ContentLoaded/\n   * http://javascript.nwbox.com/ContentLoaded/MIT-LICENSE\n   */\n\n  contentLoaded = function(win, fn) {\n    var add, doc, done, init, poll, pre, rem, root, top;\n    done = false;\n    top = true;\n    doc = win.document;\n    root = doc.documentElement;\n    add = (doc.addEventListener ? \"addEventListener\" : \"attachEvent\");\n    rem = (doc.addEventListener ? \"removeEventListener\" : \"detachEvent\");\n    pre = (doc.addEventListener ? \"\" : \"on\");\n    init = function(e) {\n      if (e.type === \"readystatechange\" && doc.readyState !== \"complete\") {\n        return;\n      }\n      (e.type === \"load\" ? win : doc)[rem](pre + e.type, init, false);\n      if (!done && (done = true)) {\n        return fn.call(win, e.type || e);\n      }\n    };\n    poll = function() {\n      var e;\n      try {\n        root.doScroll(\"left\");\n      } catch (_error) {\n        e = _error;\n        setTimeout(poll, 50);\n        return;\n      }\n      return init(\"poll\");\n    };\n    if (doc.readyState !== \"complete\") {\n      if (doc.createEventObject && root.doScroll) {\n        try {\n          top = !win.frameElement;\n        } catch (_error) {}\n        if (top) {\n          poll();\n        }\n      }\n      doc[add](pre + \"DOMContentLoaded\", init, false);\n      doc[add](pre + \"readystatechange\", init, false);\n      return win[add](pre + \"load\", init, false);\n    }\n  };\n\n  Dropzone._autoDiscoverFunction = function() {\n    if (Dropzone.autoDiscover) {\n      return Dropzone.discover();\n    }\n  };\n\n  contentLoaded(window, Dropzone._autoDiscoverFunction);\n\n}).call(this);","output":"str","x":570,"y":580,"wires":[["16350b8f.ee4d8c"]]},{"id":"c40631bd.c05e8","type":"http in","z":"4aa34155.e99108","name":"","url":"/upload_pretty","method":"get","upload":false,"swaggerDoc":"","x":350,"y":580,"wires":[["e2d59c9b.56fd3"]]},{"id":"2d1cb3ea.dd045c","type":"template","z":"4aa34155.e99108","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    {{{dropzonejs}}}\n</script>\n<style>\n    {{{css}}}\n</style>\n\n<script>\n    // \"myAwesomeDropzone\" is the camelized version of the HTML element's ID\n    Dropzone.options.myDropzone = {\n      paramName: \"myFile\", // The name that will be used to transfer the file\n      maxFilesize: 2, // MB\n      accept: function(file, done) {\n        if (file.name == \"justinbieber.jpg\") {\n          done(\"Naha, you don't.\");\n        }\n        else { done(); }\n      }\n    };\n</script>\n\n<h1>Upload a file here:</h1>\n\n<form action=\"/uploadpretty_post\" class=\"dropzone\" method=\"post\" enctype=\"multipart/form-data\" id=\"my-dropzone\">\n  <div class=\"fallback\">\n    <input name=\"myFile\" type=\"file\" />\n    <input type=\"submit\" value=\"Submit\">\n  </div>\n</form>","output":"str","x":890,"y":580,"wires":[["4accfe93.bbd6c"]]},{"id":"4accfe93.bbd6c","type":"http response","z":"4aa34155.e99108","name":"","x":1050,"y":580,"wires":[]},{"id":"16350b8f.ee4d8c","type":"template","z":"4aa34155.e99108","name":"","field":"css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*\n * The MIT License\n * Copyright (c) 2012 Matias Meno <m@tias.me>\n */\n@-webkit-keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@-moz-keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@keyframes passing-through {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30%, 70% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); }\n  100% {\n    opacity: 0;\n    -webkit-transform: translateY(-40px);\n    -moz-transform: translateY(-40px);\n    -ms-transform: translateY(-40px);\n    -o-transform: translateY(-40px);\n    transform: translateY(-40px); } }\n@-webkit-keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@-moz-keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@keyframes slide-in {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(40px);\n    -moz-transform: translateY(40px);\n    -ms-transform: translateY(40px);\n    -o-transform: translateY(40px);\n    transform: translateY(40px); }\n  30% {\n    opacity: 1;\n    -webkit-transform: translateY(0px);\n    -moz-transform: translateY(0px);\n    -ms-transform: translateY(0px);\n    -o-transform: translateY(0px);\n    transform: translateY(0px); } }\n@-webkit-keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n@-moz-keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n@keyframes pulse {\n  0% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); }\n  10% {\n    -webkit-transform: scale(1.1);\n    -moz-transform: scale(1.1);\n    -ms-transform: scale(1.1);\n    -o-transform: scale(1.1);\n    transform: scale(1.1); }\n  20% {\n    -webkit-transform: scale(1);\n    -moz-transform: scale(1);\n    -ms-transform: scale(1);\n    -o-transform: scale(1);\n    transform: scale(1); } }\n.dropzone, .dropzone * {\n  box-sizing: border-box; }\n\n.dropzone {\n  min-height: 150px;\n  border: 2px solid rgba(0, 0, 0, 0.3);\n  background: white;\n  padding: 20px 20px; }\n  .dropzone.dz-clickable {\n    cursor: pointer; }\n    .dropzone.dz-clickable * {\n      cursor: default; }\n    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {\n      cursor: pointer; }\n  .dropzone.dz-started .dz-message {\n    display: none; }\n  .dropzone.dz-drag-hover {\n    border-style: solid; }\n    .dropzone.dz-drag-hover .dz-message {\n      opacity: 0.5; }\n  .dropzone .dz-message {\n    text-align: center;\n    margin: 2em 0; }\n  .dropzone .dz-preview {\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin: 16px;\n    min-height: 100px; }\n    .dropzone .dz-preview:hover {\n      z-index: 1000; }\n      .dropzone .dz-preview:hover .dz-details {\n        opacity: 1; }\n    .dropzone .dz-preview.dz-file-preview .dz-image {\n      border-radius: 20px;\n      background: #999;\n      background: linear-gradient(to bottom, #eee, #ddd); }\n    .dropzone .dz-preview.dz-file-preview .dz-details {\n      opacity: 1; }\n    .dropzone .dz-preview.dz-image-preview {\n      background: white; }\n      .dropzone .dz-preview.dz-image-preview .dz-details {\n        -webkit-transition: opacity 0.2s linear;\n        -moz-transition: opacity 0.2s linear;\n        -ms-transition: opacity 0.2s linear;\n        -o-transition: opacity 0.2s linear;\n        transition: opacity 0.2s linear; }\n    .dropzone .dz-preview .dz-remove {\n      font-size: 14px;\n      text-align: center;\n      display: block;\n      cursor: pointer;\n      border: none; }\n      .dropzone .dz-preview .dz-remove:hover {\n        text-decoration: underline; }\n    .dropzone .dz-preview:hover .dz-details {\n      opacity: 1; }\n    .dropzone .dz-preview .dz-details {\n      z-index: 20;\n      position: absolute;\n      top: 0;\n      left: 0;\n      opacity: 0;\n      font-size: 13px;\n      min-width: 100%;\n      max-width: 100%;\n      padding: 2em 1em;\n      text-align: center;\n      color: rgba(0, 0, 0, 0.9);\n      line-height: 150%; }\n      .dropzone .dz-preview .dz-details .dz-size {\n        margin-bottom: 1em;\n        font-size: 16px; }\n      .dropzone .dz-preview .dz-details .dz-filename {\n        white-space: nowrap; }\n        .dropzone .dz-preview .dz-details .dz-filename:hover span {\n          border: 1px solid rgba(200, 200, 200, 0.8);\n          background-color: rgba(255, 255, 255, 0.8); }\n        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {\n          overflow: hidden;\n          text-overflow: ellipsis; }\n          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {\n            border: 1px solid transparent; }\n      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {\n        background-color: rgba(255, 255, 255, 0.4);\n        padding: 0 0.4em;\n        border-radius: 3px; }\n    .dropzone .dz-preview:hover .dz-image img {\n      -webkit-transform: scale(1.05, 1.05);\n      -moz-transform: scale(1.05, 1.05);\n      -ms-transform: scale(1.05, 1.05);\n      -o-transform: scale(1.05, 1.05);\n      transform: scale(1.05, 1.05);\n      -webkit-filter: blur(8px);\n      filter: blur(8px); }\n    .dropzone .dz-preview .dz-image {\n      border-radius: 20px;\n      overflow: hidden;\n      width: 120px;\n      height: 120px;\n      position: relative;\n      display: block;\n      z-index: 10; }\n      .dropzone .dz-preview .dz-image img {\n        display: block; }\n    .dropzone .dz-preview.dz-success .dz-success-mark {\n      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);\n      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }\n    .dropzone .dz-preview.dz-error .dz-error-mark {\n      opacity: 1;\n      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);\n      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }\n    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {\n      pointer-events: none;\n      opacity: 0;\n      z-index: 500;\n      position: absolute;\n      display: block;\n      top: 50%;\n      left: 50%;\n      margin-left: -27px;\n      margin-top: -27px; }\n      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {\n        display: block;\n        width: 54px;\n        height: 54px; }\n    .dropzone .dz-preview.dz-processing .dz-progress {\n      opacity: 1;\n      -webkit-transition: all 0.2s linear;\n      -moz-transition: all 0.2s linear;\n      -ms-transition: all 0.2s linear;\n      -o-transition: all 0.2s linear;\n      transition: all 0.2s linear; }\n    .dropzone .dz-preview.dz-complete .dz-progress {\n      opacity: 0;\n      -webkit-transition: opacity 0.4s ease-in;\n      -moz-transition: opacity 0.4s ease-in;\n      -ms-transition: opacity 0.4s ease-in;\n      -o-transition: opacity 0.4s ease-in;\n      transition: opacity 0.4s ease-in; }\n    .dropzone .dz-preview:not(.dz-processing) .dz-progress {\n      -webkit-animation: pulse 6s ease infinite;\n      -moz-animation: pulse 6s ease infinite;\n      -ms-animation: pulse 6s ease infinite;\n      -o-animation: pulse 6s ease infinite;\n      animation: pulse 6s ease infinite; }\n    .dropzone .dz-preview .dz-progress {\n      opacity: 1;\n      z-index: 1000;\n      pointer-events: none;\n      position: absolute;\n      height: 16px;\n      left: 50%;\n      top: 50%;\n      margin-top: -8px;\n      width: 80px;\n      margin-left: -40px;\n      background: rgba(255, 255, 255, 0.9);\n      -webkit-transform: scale(1);\n      border-radius: 8px;\n      overflow: hidden; }\n      .dropzone .dz-preview .dz-progress .dz-upload {\n        background: #333;\n        background: linear-gradient(to bottom, #666, #444);\n        position: absolute;\n        top: 0;\n        left: 0;\n        bottom: 0;\n        width: 0;\n        -webkit-transition: width 300ms ease-in-out;\n        -moz-transition: width 300ms ease-in-out;\n        -ms-transition: width 300ms ease-in-out;\n        -o-transition: width 300ms ease-in-out;\n        transition: width 300ms ease-in-out; }\n    .dropzone .dz-preview.dz-error .dz-error-message {\n      display: block; }\n    .dropzone .dz-preview.dz-error:hover .dz-error-message {\n      opacity: 1;\n      pointer-events: auto; }\n    .dropzone .dz-preview .dz-error-message {\n      pointer-events: none;\n      z-index: 1000;\n      position: absolute;\n      display: block;\n      display: none;\n      opacity: 0;\n      -webkit-transition: opacity 0.3s ease;\n      -moz-transition: opacity 0.3s ease;\n      -ms-transition: opacity 0.3s ease;\n      -o-transition: opacity 0.3s ease;\n      transition: opacity 0.3s ease;\n      border-radius: 8px;\n      font-size: 13px;\n      top: 130px;\n      left: -10px;\n      width: 140px;\n      background: #be2626;\n      background: linear-gradient(to bottom, #be2626, #a92222);\n      padding: 0.5em 1.2em;\n      color: white; }\n      .dropzone .dz-preview .dz-error-message:after {\n        content: '';\n        position: absolute;\n        top: -6px;\n        left: 64px;\n        width: 0;\n        height: 0;\n        border-left: 6px solid transparent;\n        border-right: 6px solid transparent;\n        border-bottom: 6px solid #be2626; }","output":"str","x":750,"y":580,"wires":[["2d1cb3ea.dd045c"]]},{"id":"19fde749.0ee3b1","type":"http in","z":"4aa34155.e99108","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":370,"y":380,"wires":[["84b7463f.5368c8","cf531047.aa15c"]]},{"id":"cf531047.aa15c","type":"change","z":"4aa34155.e99108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["296fa21d.bd234e"]]},{"id":"1930c281.16aea5","type":"http in","z":"4aa34155.e99108","name":"","url":"/uploadpretty_post","method":"post","upload":true,"swaggerDoc":"","x":370,"y":640,"wires":[["293271f1.6b88de","3098d95d.d48f3e"]]},{"id":"293271f1.6b88de","type":"http response","z":"4aa34155.e99108","name":"","statusCode":"","headers":{},"x":1050,"y":640,"wires":[]},{"id":"52cf47a6.fbcb18","type":"comment","z":"4aa34155.e99108","name":"More fancy example","info":"http://localhost:1880/upload_pretty","x":350,"y":540,"wires":[]},{"id":"3098d95d.d48f3e","type":"debug","z":"4aa34155.e99108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files[0].buffer","x":620,"y":680,"wires":[]},{"id":"6bd537ff.ce034","type":"http response","z":"ac8e1f39.dda128","name":"","statusCode":"","headers":{},"x":951.0000152587891,"y":353.0000114440918,"wires":[]},{"id":"234dfdd.be0be82","type":"http in","z":"ac8e1f39.dda128","name":"","url":"/homepage","method":"get","upload":false,"swaggerDoc":"","x":405,"y":313,"wires":[["67bd5fdf.430ca"]]},{"id":"67bd5fdf.430ca","type":"template","z":"ac8e1f39.dda128","name":"Form and Response Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <html>\n     <body>\n        <form action=\"/classify\" method=\"post\" enctype=\"multipart/form-data\">\n            <input type=\"file\" name=\"pic\" accept=\"image/*\" multiple><br>\n            <input type=\"submit\" value=\"Submit\">\n        </form> \n        <div>Classifications:</div>\n        <div>\n            {{#result}}\n            <table>\n            <tr>\n                <th>Class</th>\n                <th>Score</th>\n                <th>Type</th>\n            </tr>\n            {{#images}}\n            {{#.}}\n            {{#classifiers}}\n            {{#.}}\n            {{#classes}}\n            {{#.}}\n                <tr>\n                    <td>{{class}}</td>\n                    <td>{{score}}</td> \n                    <td>{{&type_hierarchy}}</td>\n                </tr>                \n            {{/.}} \n            {{/classes}}            \n            {{/.}}            \n            {{/classifiers}}\n            {{/.}}\n            {{/images}}\n            </table>\n            {{/result}}\n        </div>\n     </body>\n</html>","x":700.5000152587891,"y":351.0000114440918,"wires":[["6bd537ff.ce034"]]},{"id":"57374883.43edb8","type":"function","z":"ac8e1f39.dda128","name":" Determine File Path","func":"if (msg.req.files) {\n    var files = Object.keys(msg.req.files);\n    msg.payload = msg.req.files[files[0]][0].path;    \n}\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":473,"wires":[["7b949dad.3756fc"]]},{"id":"269c7c3.c631c84","type":"debug","z":"ac8e1f39.dda128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":990,"y":520,"wires":[]},{"id":"66453c3a.06466c","type":"http in","z":"4ea3338e.cbf074","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["aad3a50e.24b08"]]},{"id":"48b4cb03.35a864","type":"template","z":"4ea3338e.cbf074","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body { \n  max-height: 100vh;\n  margin: 0;\n  overflow: hidden;\n}\n#app, .page-container, .md-app {\n  max-height: inherit;\n}\n\n.md-app-container {\n  display: flex;\n  flex-direction: column;\n}\n.md-app-scroller {\n  max-height: calc(100% - 64px) ;\n  border-width: 2px;\n  border-color: red;\n}\n#title {\n  margin-top: 10px;\n  margin-bottom: 20px;\n}\n\n.md-layout.md-gutter {\n  margin: 0;\n}\n#upload-area {\n  padding: 0;\n}\n\n.md-app-content .md-card {\n  display: inline-block;\n  vertical-align: top;\n  overflow-wrap: break-word;\n  margin: 5px 0 0 0;\n  padding: 12px;\n}\n\n#image-list {\n  min-height: 500px;\n  max-height: calc(100vh - 170px);\n  padding: 0 0 5px 0;\n  margin: 0;\n  overflow: auto;\n}\n\n\n\n.box {\n  background-color: var(--md-theme-default-accent);\n  position: relative;\n  outline: 2px dashed black;\n  outline-offset: -10px;\n  text-align: center;\n  padding: 200px 20px;\n  transition: outline-offset .15s ease-in-out, background-color .15s linear;\n}\n\n.box__dragndrop {\n  display: inline;\n}\n.is-dragover {\n  opacity: 0.7;\n  outline-offset: -20px;\n}\n.box__file {\n  display: none;\n}\n.box label {\n  cursor: pointer;\n}\n","x":630,"y":300,"wires":[["8c3d390e.b71f48"]]},{"id":"568543ee.caaf54","type":"http response","z":"4ea3338e.cbf074","name":"","statusCode":"","headers":{},"x":910,"y":300,"wires":[]},{"id":"8c3d390e.b71f48","type":"template","z":"4ea3338e.cbf074","name":"HTML Input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta content=\"width=device-width,initial-scale=1,minimal-ui\" name=\"viewport\">\n  <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons\">\n  <link rel=\"stylesheet\" href=\"https://unpkg.com/vue-material@beta/dist/vue-material.min.css\">\n  <link rel=\"stylesheet\" href=\"https://unpkg.com/vue-material@beta/dist/theme/default.css\">\n  <style>{{{payload.style}}}</style>\n  <title>Missing Map</title>\n</head>\n\n<body>\n  <div id=\"app\">\n    <div class=\"page-container\">\n      <md-app>\n        <md-app-toolbar class=\"md-primary\">\n          <span class=\"md-title\">Missing Map</span>\n        </md-app-toolbar>\n        <md-app-content>\n\n          <div id=\"title\" class=\"md-headline\">{(title)}</div>\n          <div id=\"content\" class=\"md-layout md-gutter md-alignment-top-space-between\">\n            <div id=\"upload-area\" class=\"md-layout-item md-size-45 md-elevation-2\">\n              \n              <form class=\"box\" action=\"/file-upload\" method=\"post\" enctype=\"multipart/form-data\">\n                <div class=\"box__input\">\n                  <input class=\"box__file\" type=\"file\" name=\"files[]\" id=\"file\" data-multiple-caption=\"{count} files selected\" multiple />\n                  <label for=\"file\" class=\"md-headline\"><strong>Choose a file</strong><span class=\"box__dragndrop\"> or drag it here</span>.</label>\n                  <input type=\"submit\" value=\"Upload Image\" name=\"submit\" class=\"md-fab md-plain md-fab-bottom-left\">\n                </div>\n              </form>\n            </div>\n\n            <div id=\"image-list\" class=\"md-layout-item md-size-50 md-elevation-1 md-scrollbar md-theme-default\n            md-layout md-gutter md-alignment-top-space-around\">\n              <md-card v-for=\"card in cards\" :key=\"card.id\" \n              class=\"md-elevation-2 md-layout-item md-size-45\" md-with-hover>\n                <md-card-media>\n                  <img v-bind:src=\"card.image_url\" v-bind:alt=\"'Image: ' + card.image_file_name\">\n                <md-card-media>\n                <md-card-header>\n                  <div class=\"md-title\">{(card.image_file_name)}</div>\n                </md-card-header>\n                <md-card-content>\n                  {(card.image_file_size)}\n                </md-card-content>\n                <md-card-actions>\n                  <md-button class=\"md-accent\" v-on:click=\"dismissFile(card.id)\" >Dismiss</md-button>\n                </md-card-actions>\n              </md-card>\n            </div>\n          </div>\n        </md-app-content>\n      </md-app>\n    </div>\n  </div>\n  <script\n    src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n    integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\"\n    crossorigin=\"anonymous\"></script>\n  <script src=\"https://unpkg.com/vue\"></script>\n  <script src=\"https://unpkg.com/vue-material@beta\"></script>\n  <script src=\"index.js\"></script>\n  <script src=\"index-dragAndDrop.js\"></script>\n</body>\n</html>\n<script>{{{payload.script}}}</script>\n<script>{{{payload.script2}}}</script>","x":770,"y":300,"wires":[["568543ee.caaf54"]]},{"id":"3f843a74.261f36","type":"template","z":"4ea3338e.cbf074","name":"Javascript 2","field":"payload.script2","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"(function (document, window, index){\n\n  // applying the effect for every form\n  let forms = document.querySelectorAll( '.box' );\n  Array.prototype.forEach.call( forms, form => {\n    let input = form.querySelector( 'input[type=\"file\"]' )\n    let label = form.querySelector( 'label' )\n    let errorMsg = form.querySelector( '.box__error span' )\n    let droppedFiles = null\n    let triggerFormSubmit = () => {\n      let files = [...input.files]\n      let filtered = files.filter(file => file.type.split(\"/\")[0] == 'image')\n      let invalidFile = files.length - filtered.length\n      if (invalidFile) alert(invalidFile + \" of \" + files.length + \" file(s) are invalid and ignored!\");\n      addFiles(filtered);\n\n      // TODO: add ajax\n\n    } \n\n    // automatically submit the form on file select\n    input.addEventListener( 'change', e => {\n      triggerFormSubmit()\n    });\n\n    // drag&drop files if the feature is available\n    form.classList.add( 'has-advanced-upload' ); // letting the CSS part to know drag&drop is supported by the browser\n\n    [ 'drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop' ]\n    .forEach( eventName => {\n      form.addEventListener( eventName, e => {\n        // preventing the unwanted behaviours\n        e.preventDefault();\n        e.stopPropagation();\n      });\n    });\n\n    form.addEventListener( \"dragover\", e => form.classList.add( 'is-dragover' ));\n\n    [ 'dragleave', 'dragend', 'drop' ].forEach( eventName => {\n      form.addEventListener( eventName, e => form.classList.remove( 'is-dragover' ))\n    });\n\n    form.addEventListener( 'drop', e => input.files = e.dataTransfer.files );\n\n    // if the form was submitted\n    form.addEventListener( 'submit', function( e ){\n      // preventing the duplicate submissions if the current one is in progress\n      if( form.classList.contains( 'is-uploading' ) ) return false;\n\n      form.classList.add( 'is-uploading' );\n      form.classList.remove( 'is-error' );\n\n      e.preventDefault();\n      e.stopPropagation();\n\n\n      // gathering the form data\n      // let ajaxData = new FormData( form );\n      // Array.prototype.forEach.call( droppedFiles, function( file )\n      // {\n      //   ajaxData.append( input.getAttribute( 'name' ), file );\n      // });\n\n      // // ajax request\n      // let ajax = new XMLHttpRequest();\n      // ajax.open( form.getAttribute( 'method' ), form.getAttribute( 'action' ), true );\n\n      // ajax.onload = function()\n      // {\n      //   form.classList.remove( 'is-uploading' );\n      //   if( ajax.status >= 200 && ajax.status < 400 )\n      //   {\n      //     let data = JSON.parse( ajax.responseText );\n      //     form.classList.add( data.success == true ? 'is-success' : 'is-error' );\n      //     if( !data.success ) errorMsg.textContent = data.error;\n      //   }\n      //   else alert( 'Error. Please, contact the webmaster!' );\n      // };\n\n      // ajax.onerror = function()\n      // {\n      //   form.classList.remove( 'is-uploading' );\n      //   alert( 'Error. Please, try again!' );\n      // };\n\n      // ajax.send( ajaxData );\n\n\n    });\n\n    // Firefox focus bug fix for file input\n    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });\n    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });\n\n  });\n})( document, window, 0 );\n\n","output":"str","x":490,"y":300,"wires":[["48b4cb03.35a864"]]},{"id":"aad3a50e.24b08","type":"template","z":"4ea3338e.cbf074","name":"Javascript","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Vue.use(VueMaterial.default)\nkey = \"AkOxVVCiK3eLn7_RNH-yWJj56N2xXv1m_I-sCYrG5fIgney_5JLLHr99OHsfUgyP\"\nlet id = 0\nlet app = new Vue({\n    delimiters: ['{(', ')}'],\n    el: '#app',\n    data: {\n        title: 'Upload image/folder...',\n        files: [],\n    },\n    computed: {\n        cards: function(){return this.files.map(toCardData)},\n    },\n    methods: {\n        dismissFile: function (fileId) {\n            for (var i = this.files.length - 1; i >= 0; i--) {\n                if (this.files[i].id == fileId) {\n                    this.files.splice(i, 1);\n                    break;\n                }\n            }\n            console.log(this.files)\n        },\n    },\n})\n\n// called by file uploader\nfunction addFiles(files) {\n    files.forEach(file => {\n        app.files.push({id: id, file: file})\n        id ++\n    })\n    console.log(app.files)\n}\n\nfunction toCardData(file) {\n    let src = window.URL.createObjectURL(file.file)\n    let imagedata = {}\n    return {\n        id: file.id,\n        image_file_name: file.file.name,\n        image_url: src,\n        image_file_size: biteToString(file.file.size),\n    }\n}\n\nfunction biteToString(biteNum) {\n    let kb = biteNum / 1024\n    if (kb < 100) {\n        return kb.toFixed(2) + \" KB\"\n    } else {\n        let mb = kb / 1024\n        return mb.toFixed(2) + \" MB\"\n    }\n}\n\n","output":"str","x":340,"y":300,"wires":[["3f843a74.261f36"]]},{"id":"226cfa68.fa00a6","type":"template","z":"4ea3338e.cbf074","name":"HTML Output","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n\n<head>\n\n    <!--Links, Libraries, etc-->  \n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>{{{style}}}</style>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" >\n    \n    <!--font-family: 'Nunito Sans'-->\n    <link href=\"https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700\" rel=\"stylesheet\">\n\n    <title>View and Download</title>\n\n</head>\n<body>\n    \n    <!-- Header -->\n    <div class = \"header2\"></div>\n    <div class = \"header\">\n    </div>\n    \n    \n    \n    <!--Main Wrapper to contain a card generated by script for each image uploaded-->\n    <div id = \"mainWrapper\">\n\n        <!-- Action Pane -->\n        <div style = \"width: 100%; position: fixed; z-index: 1;\">\n            <div class = \"fixedBox\">\n                <img src = \"icons/expand.png\" alt = \"Expand All\" class = \"sideIcon\" id = \"expandAll\">\n                <img src = \"icons/collapse.png\" alt = \"Collapse All\" class = \"sideIcon\" id = \"collapseAll\">\n                <img src = \"icons/download.png\" alt = \"Download All\" class = \"sideIcon\">\n            </div>\n        </div>\n        \n    </div>\n    \n\n\n</body>\n\n</html>\n<script>{{{script}}}</script>\n<script>{{{script2}}}</script>\n","x":1220,"y":400,"wires":[["f45691e5.072338"]]},{"id":"f45691e5.072338","type":"http response","z":"4ea3338e.cbf074","name":"","statusCode":"","headers":{},"x":1210,"y":480,"wires":[]},{"id":"a6e8075a.baadf8","type":"template","z":"4ea3338e.cbf074","name":"CSS","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"@charset \"utf-8\";\nfont-family: 'Nunito Sans', sans-serif;\n\nhtml, body {\n    margin: 0px; \n    padding: 0px;\n}\n\nbody {\n    background: #f5f5f5;\n}\n\nh1 {\n\tfont-family: 'Nunito Sans', sans-serif;\n\tfont-size: 20px;\n\tfont-weight: 200;\n    color:\t#606060;\n}\n\nh2 {\n\tfont-family: 'Nunito Sans', sans-serif; color:black;\n\tfont-size: 9px;\n\tfont-weight: 800;\n    color: #606060;\n    position: relative;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    cursor: pointer;\n    margin-top: 4px;\n    z-index: 4;\n}\n\nh3 {\n\tfont-family: 'Nunito Sans', sans-serif;\n\tfont-size: 15px;\n\tfont-weight: 800;\n    color: #606060;\n    top: 25px;\n    left: 25px;\n    position: absolute;\n    display: static;\n}\n\nh4 {\n\tfont-family: 'Nunito Sans', sans-serif;\n\tfont-size: 10px;\n\tfont-weight: 200;\n    color: #606060;\n    top: 55px;\n    left: 25px;\n    position: absolute;\n    display: static;\n}\n\np {\n\tfont-family: 'Nunito Sans', sans-serif; color:black;\n\tfont-size: 30px;\n}\n\ndiv.header {\n    width: 100%;\n    height: 30px;\n    background-color: #d8d8d8;\n    position: fixed;\n    top: 0px;\n    margin: 0px;\n    padding: 0px;\n    left: 0px;\n    z-index: 100;\n}\ndiv.header2 {\n    width: 100%;\n    height: 80px;\n    background-color: #f5f5f5;\n    position: fixed;\n    top: 0px;\n    margin: 0px;\n    padding: 0px;\n    left: 0px;\n    box-shadow: 0px 5px 10px 0px #b7b7b7;\n    z-index: 99;\n    \n}\n\n#mainWrapper {\n    text-align: center;\n    position: relative;\n    top: 120px;\n}\n\ndiv.wrapper {\n    width: 100%;\n    position: relative;\n}\n\ndiv.roundedBox {\n    background: #d8d8d8;\n    width: 360px;\n    height: 200px;\n    box-shadow: 0px 5px 10px 0px #b7b7b7;\n    display: inline-block;\n    overflow: hidden;\n    position: relative;\n    margin-bottom: 15px; \n}\n\ndiv.roundedBoxMain {\n    background: #f5f5f5;\n    width: 100%;\n    height: 180px;\n    position: relative;\n    overflow: hidden;\n}\n\ndiv.fixedBox {\n    background: #f5f5f5;\n    width: 100px;\n    height: 200px;\n    box-shadow: 0px 5px 10px 0px #b7b7b7;\n    position: relative;\n    overflow: hidden;\n    margin-bottom: 15px;\n    display: inline-block;\n    margin-left: 500px;\n    top: 0px;\n    text-align: left;\n    z-index: 2;\n}\n\n.icon {\n    width: 50px;\n    height: 50px;\n    position: absolute;\n    left: 42px;\n    top: 90px;\n}\n\n.aerialImg {\n    max-width: 200px;\n    max-height:150px;\n    position: absolute;\n    left: 140px;\n    top: 15px;\n    box-shadow: 0px 2px 2px 0px #b7b7b7;\n}\n\n.sideIcon {\n    width: 50px;\n    height: 50px;\n    position: relative;\n    left: 25px;\n    top: 20px;\n    cursor: pointer;\n}","x":990,"y":380,"wires":[["226cfa68.fa00a6"]]},{"id":"a0824b15.a4fa3","type":"template","z":"4ea3338e.cbf074","name":"Javascript 2","field":"script2","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*jslint browser: true*/\n/*global  $*/\n\n\n$(function () {\n    'use strict';\n    \n    // Expand and collapse individual cards to show addition information\n    $('h2').click(function () {\n\n        // If card is collapsed, expand\n        if ($(this).parent().height() === 200) {\n            $(this).parent().animate({height: '+=200px'}, {queue: false});\n            $(this).hide();\n            $(this).next().show();\n            $(this).animate({top: '+=200px'}, {queue: false});\n            $(this).next().animate({top: '+=200px'}, {queue: false});\n\n        // If card is expanded, collapse\n        } else if ($(this).parent().height() === 400) {\n            $(this).parent().animate({height: '200px'}, {queue: false});\n            $(this).hide();\n            $(this).prev().show();\n            $(this).animate({top: '-=200px'}, {queue: false});\n            $(this).prev().animate({top: '-=200px'}, {queue: false});\n        }\n    });\n    \n    // Expand all cards\n    $('#expandAll').click(function () {\n\n        $('.roundedBox').animate({height: '400px'});\n    });\n    \n    // Collapse all cards\n    $('#collapseAll').click(function () {\n\n        $('.roundedBox').animate({height: '200px'});\n    });\n});\n","output":"str","x":850,"y":380,"wires":[["a6e8075a.baadf8"]]},{"id":"8c2cdb88.ac21b","type":"template","z":"4ea3338e.cbf074","name":"Javascript","field":"script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/*jslint browser: true*/\n/*global  $*/\n/*global  document*/\n\n\n// Add animation to cards\nfunction structureCard(roundedBox) {\n    'use strict';\n\n    var expand = document.createElement('h2'),\n        collapse = document.createElement('h2');\n\n    $(collapse).hide();\n\n    roundedBox.appendChild(expand);\n    roundedBox.appendChild(collapse);\n\n    expand.appendChild(document.createTextNode('▼ Expand for more info ▼'));\n    collapse.appendChild(document.createTextNode('▲ Collapse for less info ▲'));\n\n    return;\n}\n\n// Populate cards with information\nfunction populateCard(roundedBox, roundedBoxMain, i) {\n    'use strict';\n    \n    var downloadLink = document.createElement('a'),\n        downloadIcon = document.createElement('img'),\n        aerialImg = document.createElement('img'),\n        imgName = document.createElement('h3'),\n        imgSize = document.createElement('h4');\n    \n    downloadLink.setAttribute('href', 'downloadpage');\n    downloadLink.setAttribute('target', '_blank');\n    \n    downloadIcon.setAttribute('src', '{{{payload2}}}');\n    downloadIcon.setAttribute('alt', 'Click to Download');\n    downloadIcon.className = 'icon';\n    \n    aerialImg.setAttribute('src', '{{{payload1}}}');\n    aerialImg.setAttribute('alt', 'Aerial Image' + (i + 1));\n    aerialImg.className = 'aerialImg';\n    \n    \n    \n    downloadLink.appendChild(downloadIcon);\n    roundedBoxMain.appendChild(downloadLink);\n    roundedBoxMain.appendChild(aerialImg);\n    roundedBoxMain.appendChild(imgName);\n    roundedBoxMain.appendChild(imgSize);\n    // Placeholder values\n    imgName.appendChild(document.createTextNode('Aerial' + (i + 1) + '.png'));\n    imgSize.appendChild(document.createTextNode('2.06 MB'));\n    \n    return;\n}\n\n// Generate cards for images\nfunction generateCard() {\n    'use strict';\n    \n    var numImages = 12,\n        i,\n        wrapper,\n        roundedBox,\n        roundedBoxMain;\n\n    for (i = 0; i < numImages; i += 1) {\n\n        wrapper = document.createElement('div');\n        roundedBox = document.createElement('div');\n        roundedBoxMain = document.createElement('div');\n\n        wrapper.className = 'wrapper';\n        roundedBox.className = 'roundedBox';\n        roundedBoxMain.className = 'roundedBoxMain';\n\n        document.getElementById('mainWrapper').appendChild(wrapper);\n        wrapper.appendChild(roundedBox);\n        roundedBox.appendChild(roundedBoxMain);\n\n        structureCard(roundedBox);\n        populateCard(roundedBox, roundedBoxMain, i);\n    }\n}\n\n// MAIN /////////////////////////////////////////////////////\n$(function () {\n    'use strict';\n    \n    generateCard();\n});\n\n\n        \n\n    ","output":"str","x":640,"y":380,"wires":[["a0824b15.a4fa3"]]},{"id":"648a2008.54aa5","type":"debug","z":"4ea3338e.cbf074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":330,"y":620,"wires":[]},{"id":"1e2484ba.95c7cb","type":"function","z":"4ea3338e.cbf074","name":"","func":"/*if (msg.req.files) {\n    var files = Object.keys(msg.req.files);\n    msg.payload = msg.req.files[files[0]][0].path;  \n\n}\nreturn msg;*/\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload1 = `data:image/gif;base64,${msg.payload1.toString('base64')}`;\n    msg.payload2 = `data:image/gif;base64,${msg.payload2.toString('base64')}`;\n} else {\n    msg.payload1 = msg.payload1.toString();\n    msg.payload2 = msg.payload2.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["8c2cdb88.ac21b"]]},{"id":"acbbff8c.278ab8","type":"change","z":"4ea3338e.cbf074","name":"","rules":[{"t":"set","p":"payload1","pt":"msg","to":"req.files[0].buffer","tot":"msg"},{"t":"set","p":"payload2","pt":"msg","to":"req.files[1].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[["1e2484ba.95c7cb"]]},{"id":"6abdf310.3b9fd4","type":"http in","z":"4ea3338e.cbf074","name":"","url":"/file-upload","method":"post","upload":true,"swaggerDoc":"","x":200,"y":500,"wires":[["acbbff8c.278ab8","648a2008.54aa5"]]},{"id":"9204ada2.c53f7","type":"http in","z":"283d55dd.fef61a","name":"","url":"/testFE","method":"get","upload":false,"swaggerDoc":"","x":250,"y":100,"wires":[["b1051777.bf0158"]]},{"id":"b1051777.bf0158","type":"template","z":"283d55dd.fef61a","name":"Drag and Drop","field":"dragAndDrop","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n    /////////////////////////////////\n    // The Drag Drop Box Component //\n    /////////////////////////////////\n    // reference: https://serversideup.net/drag-and-drop-file-uploads-with-vuejs-and-axios/\n    Vue.component('drag-drop-box', {\n      delimiters: ['{(', ')}'],\n      props: {files: Array, alert: Function},\n      data: function () {\n        return {\n          dragAndDropCapable: false,\n        }\n      },\n      mounted: function() {\n        Vue.use(Vuetify, { options: { customProperties: true } })\n\n        var div = document.createElement('div');\n\n        this.dragAndDropCapable = ( ( 'draggable' in div )\n          || ( 'ondragstart' in div && 'ondrop' in div ) )\n          && 'FormData' in window\n          && 'FileReader' in window;\n\n        console.log(\"dragAndDropCapable is \" + this.dragAndDropCapable);\n\n        let fileInput = this.$refs.fileform.querySelector( 'input[type=\"file\"]' )\n        fileInput.addEventListener( 'change', function(e) {\n          this.addFiles(fileInput.files)\n          this.$refs.fileform.reset()\n        }.bind(this))\n\n        if (this.dragAndDropCapable) {\n          ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach( function( evt ) {\n            this.$refs.fileform.addEventListener(evt, function(e){\n              e.preventDefault();\n              e.stopPropagation();\n            }.bind(this), false);\n          }.bind(this));\n\n          this.$refs.fileform.addEventListener('drop', function(e){\n            this.addFiles(e.dataTransfer.files)\n          }.bind(this));\n\n          dragoverClasses = [\"is-dragover\",]\n          // drag over\n          this.$refs.fileform.addEventListener('dragover', function(e){\n            dragoverClasses.forEach(className =>\n              this.$refs.fileform.classList.add( className )\n            )\n          }.bind(this));\n\n          // leave\n          [ 'dragend', 'dragleave', 'drop'].forEach( function( evt ) {\n            this.$refs.fileform.addEventListener(evt, function(e){\n              dragoverClasses.forEach(className =>\n                this.$refs.fileform.classList.remove( className )\n              )\n            }.bind(this), false);\n          }.bind(this));\n        }\n\n      },\n      methods: {\n        dismissFile: function(fileName) { return },\n        addFiles: function(files) {\n          let fileArr = this.files;\n          files = [...files];\n          let filtered = files.filter(file => file.type.split(\"/\")[0] == 'image')\n          let invalidFile = files.length - filtered.length;\n          if (invalidFile)\n            this.alert(invalidFile + \" of \" + files.length + \" file(s) are invalid and ignored!\");\n          filtered.forEach(file => fileArr.push({file:file, result: {}}))\n        }\n      },\n      template: `\n        <form ref=\"fileform\" style=\"height:500px;\" :class=\"'box mt-auto align-center d-flex grey lighten-4 elevation-3'\">\n          <div class=\"box__input\" style=\"align-item: center\">\n            <input class=\"box__file\" type=\"file\" name=\"files[]\" id=\"file\" data-multiple-caption=\"{count} files selected\" multiple />\n            <label for=\"file\" class=\"md-headline\" style=\"display: inline\">\n              <strong>Choose a file <i class=\"material-icons\" style=\"display:inline; vertical-align: bottom\">folder</i></strong>\n              <span class=\"box__dragndrop\"> or drag it here</span>.\n            </label>\n          </div>\n        </form>\n      `\n    })\n</script>\n","output":"str","x":420,"y":100,"wires":[["e94aa7b9.cbfdb8"]]},{"id":"e94aa7b9.cbfdb8","type":"template","z":"283d55dd.fef61a","name":"Image Card","field":"imageCard","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n\n\n    //////////////////////////////\n    // The Image Card Component //\n    //////////////////////////////\n    Vue.component('img-card', {\n      delimiters: ['{(', ')}'],\n      props: {upload: Boolean, img: Object, imgs: Array},\n      data: function () {\n        return {\n          show: false,\n          data: \"hello vue\",\n        }\n      },\n      methods:{\n        dismiss: function() {\n          for (let i = 0; i < this.imgs.length; i++) {\n            if (this.imgs[i].file === this.img.file) {\n              this.imgs.splice(i, 1)\n            }\n          }\n        },\n        download: function() {\n          let link = document.createElement(\"a\");\n          link.download = this.img.file.name;\n          link.href = this.imgUrl;\n          link.click();\n        }\n      },\n      computed: {\n        fileSize: function() {\n            let kb = this.img.file.size / 1024\n            if (kb < 100) {\n                return kb.toFixed(2) + \" KB\"\n            } else {\n                let mb = kb / 1024\n                return mb.toFixed(2) + \" MB\"\n            }\n        },\n        imgUrl: function () {\n          return window.URL.createObjectURL(this.img.file)\n        },\n        reportInfo: function() {\n          // every line is an element in the returned list\n          console.log(this.img.result.images);\n          if (!this.img.result.images) {\n            return [\n              `Here should be the report details. Some random stuff here now`,\n              `Name: ${this.img.file.name}`,\n              `LastModifiedDate: ${this.img.file.lastModifiedDate}`,\n              `Type: ${this.img.file.type}\\n`,\n            ];\n          } else {\n            let classifier = this.img.result.images[0].classifiers[0]\n            return [\n              `classifier_id: ${classifier.classifier_id}`,\n            ].concat(classifier.classes.map(oneClass => `${oneClass.class}: \\t ${oneClass.score}` + \n              (oneClass.type_hierarchy ? ` from \\t ${oneClass.type_hierarchy}` : \"\")))\n          }\n        }\n      },\n\n      template: `\n         <v-layout>\n          <v-flex>\n            <v-card>\n              <v-card-title primary-title>\n                <v-flex xs6>\n                  <v-img :src=\"imgUrl\"></v-img>\n                </v-flex>\n                <v-spacer />\n                <div>\n                  <h3 class=\"headline mb-0\" >{(img.file.name)}</h3>\n                  <div>{(upload ? this.fileSize : this.fileSize)}</div>\n                </div>\n              </v-card-title>\n\n\n              <v-card-actions>\n                <v-btn v-if=\"!upload\" flat color=\"primary\" v-on:click=\"download()\">\n                  Download\n                </v-btn>\n                <v-spacer />\n                <v-btn v-if=\"upload\" flat color=\"primary\" v-on:click=\"dismiss()\">\n                  dismiss\n                </v-btn>\n                <v-btn v-else flat color=\"primary\" @click = \"show = !show\">\n                  {(show ? \"Collapse\" : \"Details\")}\n                </v-btn>\n              </v-card-actions>\n              <v-slide-y-transition>\n                <v-card-text v-show = \"show\">\n                  <div v-for=\"line in reportInfo\" style=\"margin-bottom: 10px\">{(line)}</div>\n                </v-card-text>\n              </v-slide-y-transition>\n            </v-card>\n          </v-flex>\n        </v-layout>\n      `\n    })\n\n\n</script>","output":"str","x":590,"y":100,"wires":[["6d4f7c6b.b14f04"]]},{"id":"6d4f7c6b.b14f04","type":"template","z":"283d55dd.fef61a","name":"Main Vue Instance","field":"mainVueInstance","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\n\n    ///////////////////////////\n    // The main Vue Instance //\n    ///////////////////////////\n    new Vue({\n      el: '#app',\n      delimiters: ['{(', ')}'],\n      data: {\n        uploadingPage: true,\n        imgs: [],\n        alert: false,\n        alertMsg: \"\",\n        uploading: false,\n      },\n      methods: {\n        submitImg: function (event) {\n          if (this.imgs.length) {\n            // TODO: the real uploading things\n            let postURL = \"testFE2\"\n            var formData = new FormData();\n            this.imgs.forEach(img => formData.append(\"images\", img.file));\n            this.uploading = true;\n            axios.post(postURL, formData, {\n              timeoutL:1000000,\n            }).then(function(res) {\n              console.log(res);\n              let results = res.data\n              if (results.length != this.imgs.length) {\n                console.log(\"results.length != this.imgs.length, this should never happens\");\n              } else {\n                for (let i = 0; i < results.length; i++) {\n                  this.imgs[i].result = results[i]\n                }\n              }\n\n              // end of processing\n              this.uploading = false;\n              this.uploadingPage = false; // switch page\n            }.bind(this))\n          } else {\n            this.raiseAlert(\"No images to submit\");\n          }\n        },\n        raiseAlert: function (msg) {\n          if (!this.alert) {\n            this.alert = true;\n            this.alertMsg = msg;\n          } else {\n            this.alert = false;\n            setTimeout(function() {\n              this.alert = true;\n              this.alertMsg = msg;\n            }.bind(this), 100)\n          }\n        },\n        goHome: function() {\n          this.uploadingPage = true\n          this.imgs = []\n        },\n        expend_all: function (expend) {\n          [...this.$refs.report_card].forEach(function(child) {child.show = expend})\n        }\n      },\n      computed:{\n        cardsData: function() {return {}} // TODO\n      }\n    })\n\n  </script>","output":"str","x":770,"y":100,"wires":[["d103c438.011bd"]]},{"id":"d103c438.011bd","type":"template","z":"283d55dd.fef61a","name":"CSS","field":"style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n        .box {\n          outline: 2px dashed #BDBDBD;\n          outline-offset: -10px;\n          text-align: center;\n          padding: 200px 20px;\n          transition: outline-offset .15s ease-in-out, background-color .15s linear;\n        }\n        \n        .box__dragndrop {\n          display: inline;\n        }\n        .is-dragover {\n          outline-offset: -20px;\n          outline-color: #82B1FF; /* default accent */\n          color: #82B1FF; /* default accent */\n        }\n        .box__file {\n          display: none;\n        }\n        .box label {\n          cursor: pointer;\n        }\n  </style>","output":"str","x":930,"y":100,"wires":[["4d61e790.ac955"]]},{"id":"4d61e790.ac955","type":"template","z":"283d55dd.fef61a","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons\" rel=\"stylesheet\">\n  <link href=\"https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css\" rel=\"stylesheet\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui\">\n{{{style}}}\n</head>\n<body>\n  <div id=\"app\">\n    <v-app>\n      <v-content>\n        <v-layout row wrap>\n\n          <!-- The top tool bar -->\n          <v-card>\n            <v-toolbar fixed>\n              <v-btn icon v-on:click=\"goHome()\">\n                <v-icon>home</v-icon>\n              </v-btn>\n              <v-toolbar-title>Missing Maps</v-toolbar-title>\n            </v-toolbar>\n          </v-card>\n\n          <v-flex xs12>  <!-- take the space of the floatting toolbar -->\n            <div style=\"height: 70px\"> </div>\n          </v-flex>\n\n          <!-- uploading page content -->\n          <template v-if=\"uploadingPage\">\n            <!-- drag drop box -->\n            <v-flex xs6>\n              <v-flex>\n                <drag-drop-box :files=\"imgs\" :alert=\"raiseAlert\" style=\"position:fixed; top:94px ;margin: 2%; width:45%\"/>\n              </v-flex>\n\n              <!-- Alert window -->\n              <v-flex>\n                <v-toolbar flat fixed class=\"transparent\" style=\"left: 230px\">\n                  <v-alert\n                    dismissible\n                    v-model=\"alert\"\n                    type=\"error\"\n                    icon=\"new_releases\"\n                    transition=\"scale-transition\"\n                  >\n                    {(alertMsg)}\n                  </v-alert>\n                </v-toolbar>\n              </v-flex>\n\n              <!-- Bottom submit button -->\n              <v-flex>\n                <v-btn\n                  class=\"text-none\"\n                  color=\"primary\"\n                  fixed style=\"margin:2%; bottom:0px; left:0px\"\n                  v-on:click=\"submitImg\"\n                  :loading=\"uploading\"\n                >\n                  Submit\n                </v-btn>\n              </v-flex>\n            </v-flex>\n\n            <!-- Right part -->\n            <v-flex xs6>\n              <v-container fluid grid-list-xl>\n                <v-layout row wrap>\n                  <v-flex d-flex xs6 v-for=\"file in imgs\">\n                    <img-card upload :img=\"file\" :imgs=\"imgs\"/>\n                  </v-flex>\n                </v-layout>\n              </v-container>\n            </v-flex>\n          </template>\n\n          <!-- report page content -->\n          <template v-else>\n            <v-container fluid grid-list-xl>\n              <v-toolbar floatting flat style=\"position: fixed; z-index: 2; left: 30px;bottom: 30px; width: auto\" class=\"transparent\">\n                <v-btn color=\"info\" v-on:click=\"expend_all(true)\">\n                  <v-icon>unfold_more</v-icon>\n                  Expend All\n                </v-btn>\n                <v-btn color=\"info\" v-on:click=\"expend_all(false)\">\n                  <v-icon>unfold_less</v-icon>\n                  Collapse All\n                </v-btn>\n                <v-btn color=\"info\">\n                  <v-icon>arrow_downward</v-icon>\n                  Download All\n                </v-btn>\n              </v-toolbar>\n              <v-layout row wrap>\n                <v-flex d-flex xs4 v-for=\"img in imgs\">\n                  <img-card ref=\"report_card\" :img=\"img\" :imgs=\"imgs\"/>\n                </v-flex>\n              </v-layout>\n            </v-container>\n\n\n          </template>\n        </v-layout>\n      </v-content>\n    </v-app>\n  </div>\n\n  <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n  <script src=\"https://vuejs.org/js/vue.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js\"></script>\n  {{{dragAndDrop}}}\n  {{{imageCard}}}\n  {{{mainVueInstance}}}\n  \n</body>\n</html>\n","x":1050,"y":100,"wires":[["63c06843.c76288"]]},{"id":"63c06843.c76288","type":"http response","z":"283d55dd.fef61a","name":"","statusCode":"","headers":{},"x":1170,"y":100,"wires":[]},{"id":"f45eec66.8c7178","type":"function","z":"283d55dd.fef61a","name":" Determine File Path","func":"msg.payload = msg.req.files.images.map(function(file){\n    return file.path\n})\n\nreturn msg\n","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["cc0a90b3.7223d8"]]},{"id":"b41bf537.babde8","type":"visual-recognition-v3","z":"ac8e1f39.dda128","name":"","image-feature":"classifyImage","lang":"en","x":690,"y":480,"wires":[["67bd5fdf.430ca","269c7c3.c631c84"]]},{"id":"208b3000.f03848","type":"debug","z":"ac8e1f39.dda128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":610,"y":660,"wires":[]},{"id":"6fcebb7f.598154","type":"visual-recognition-v3","z":"283d55dd.fef61a","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":270,"y":380,"wires":[["acf60f7b.58325"]]},{"id":"3204fb4e.a245fc","type":"http response","z":"283d55dd.fef61a","name":"","statusCode":"","headers":{},"x":1170,"y":380,"wires":[]},{"id":"7b949dad.3756fc","type":"file-buffer","z":"ac8e1f39.dda128","name":"","x":480.00001525878906,"y":541.0000114440918,"wires":[["b41bf537.babde8"]]},{"id":"1ea4827d.1c4376","type":"file-buffer","z":"283d55dd.fef61a","name":"","x":820,"y":260,"wires":[["6fcebb7f.598154"]]},{"id":"6d867a53.c8cfd4","type":"httpInMultipart","z":"ac8e1f39.dda128","name":"","url":"/classify","method":"post","fields":"[{ \"name\":\"pic\"}]","swaggerDoc":"","x":230,"y":600,"wires":[["57374883.43edb8","208b3000.f03848"]]},{"id":"90057ede.d1cdd","type":"httpInMultipart","z":"283d55dd.fef61a","name":"","url":"/testFE2","method":"post","fields":"[{ \"name\":\"images\"}]","swaggerDoc":"","x":260,"y":260,"wires":[["f45eec66.8c7178"]]},{"id":"884b79e3.a3f74","type":"json","z":"283d55dd.fef61a","name":"","property":"payload","action":"str","pretty":false,"x":970,"y":380,"wires":[["3204fb4e.a245fc","49834f9f.67ea8"]]},{"id":"acf60f7b.58325","type":"change","z":"283d55dd.fef61a","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["42e3bd54.878b44"]]},{"id":"42e3bd54.878b44","type":"change","z":"283d55dd.fef61a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["20d83d67.06128a"]]},{"id":"20d83d67.06128a","type":"join","z":"283d55dd.fef61a","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":380,"wires":[["884b79e3.a3f74"]]},{"id":"cc0a90b3.7223d8","type":"split","z":"283d55dd.fef61a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":260,"wires":[["1ea4827d.1c4376"]]},{"id":"49834f9f.67ea8","type":"debug","z":"283d55dd.fef61a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":440,"wires":[]}]
